<div class="city-list">
    <h2>Выберите город</h2>
    <div class="input-holder">
        <input type="text" name="city_name" id="city_name" placeholder="Введите название города"/>
        <a class="btn btn-y" href="javascript:void(0)">Найти</a>
        <div class="abc-holder">
            <a href="javascript:void(0)" class="showCities">А</a>
            <a href="javascript:void(0)" class="showCities">Б</a>
            <a href="javascript:void(0)" class="showCities">В</a>
            <a href="javascript:void(0)" class="showCities">Г</a>
            <a href="javascript:void(0)" class="showCities">Д</a>
            <a href="javascript:void(0)" class="showCities">Е</a>
            <a href="javascript:void(0)" class="showCities">Ж</a>
            <a href="javascript:void(0)" class="showCities">З</a>
            <a href="javascript:void(0)" class="showCities">И</a>
            <a href="javascript:void(0)" class="showCities">Й</a>
            <a href="javascript:void(0)" class="showCities">К</a>
            <a href="javascript:void(0)" class="showCities">Л</a>
            <a href="javascript:void(0)" class="showCities">М</a>
            <a href="javascript:void(0)" class="showCities">Н</a>
            <a href="javascript:void(0)" class="showCities">О</a>
            <a href="javascript:void(0)" class="showCities">П</a>
            <a href="javascript:void(0)" class="showCities">Р</a>
            <a href="javascript:void(0)" class="showCities">С</a>
            <a href="javascript:void(0)" class="showCities">Т</a>
            <a href="javascript:void(0)" class="showCities">У</a>
            <a href="javascript:void(0)" class="showCities">Ф</a>
            <a href="javascript:void(0)" class="showCities">Х</a>
            <a href="javascript:void(0)" class="showCities">Ц</a>
            <a href="javascript:void(0)" class="showCities">Ч</a>
            <a href="javascript:void(0)" class="showCities">Ш</a>
            <a href="javascript:void(0)" class="showCities">Щ</a>
            <a href="javascript:void(0)" class="showCities">Э</a>
            <a href="javascript:void(0)" class="showCities">Я</a>
        </div>
        <div class="divider"></div>
        <ul class="preselected-city">
            <li class="g-left"><a href="?location=19">Москва</a></li>
            <li class="g-left"><a href="?location=30">Санкт-Петербург</a></li>
            <li class="g-left"><a href="?location=1699">Нижний Новгород</a></li>
            <li class="g-left"><a href="?location=1832">Самара</a></li>
            <li class="g-left"><a href="?location=2208">Екатеринбург</a></li>
            <li class="g-left"><a href="?location=1559">Казань</a></li>
            <li class="g-left"><a href="?location=2664">Омск</a></li>
            <li class="clear">&nbsp;</li>
        </ul>
        <ul class="abc-city-list">
            <li class="clear">&nbsp;</li>
        </ul>
    </div>
</div>