<div id="order-created">
    <div class="order-created">
        <h2>Спасибо, ваш заказ №<span id="orderID">{{this.order}}</span> создан.</h2>
        <p>Наш менеджер свяжется с вами в ближайшее время.</p>
        <span>С уважением, команда artopt.ru</span>
        <p>Наш телефон +7 800 775 90 21 бесплатно по всей России</p>
    </div>
</div>