<div id="one-click">
    <h5 class="b-popup__h5"><span class="one-click-title">Заказать обратный звонок</span> <span class="close-one"></span></h5>
    <div class="all-box">
        <form>
            <div class="outer-box required g-left b-oneclick__box b-oneclick__box--first">
                <label for="name" class="b-oneclick__box-label">Ваше имя<span style="color:#d10000;">*</span></label>
                <div class="input_box ">
                    <input type="text" name="name" id="user-name" value="" placeholder="Укажите имя" class="b-popup__input">
                </div>
                <div class="clear"></div>
            </div>
            <div class="outer-box required g-left b-oneclick__box">
                <label for="phone" class="b-oneclick__box-label">Контактный телефон<span style="color:#d10000;">*</span></label>
                <div class="input_box ">
                    <input type="text" name="phone" id="user-phone" value="" placeholder="Контактный телефон" class="b-popup__input">
                </div>
                <div class="clear"></div>
            </div>
            <div class="outer-box required g-clear g-left b-oneclick__box b-oneclick__box--first">
                <label for="call_date" class="b-oneclick__box-label">Дата звонка<span style="color:#d10000;">*</span></label>
                <div class="input_box">
                    <input type="text" name="call_date" id="call-date" value="{{date}}" placeholder="Желаемая дата звонка" class="b-popup__input">
                </div>
                <div class="clear"></div>
            </div>
            <div class="outer-box b-oneclick__box">
                <label for="call_time" class="b-oneclick__box-label">Время звонка</label>
                <div class="input_box ">
                    <input type="text" name="call_time" id="call-time" value="{{time}}" placeholder="Желаемое время звонка" class="b-popup__input">
                </div>
                <div class="clear"></div>
            </div>
        </form>
    </div>
    <div class="clear"></div>
    <fieldset class="b-popup__buttons">
        <a id="one-click-buy" class="button btn btn-y b-popup__btn b-oneclick__btn" href="javascript:void(0)">Заказать</a>
    </fieldset>
</div>