<div class="feedback-create">
    <h2>Отзыв о товаре</h2>
    <p class="feedback-name">{{ this.productName }}</p>
    <form action="" method="post">
        <input type="hidden" value="{{ this.productId }}" name="productId">
        <input type="hidden" value="{{ this.productName }}" name="productName">
        <input type="hidden" value="addFeedback" name="action">
        <input type="hidden" value="add" name="feedback">
        <div class="feedback-create-positive">
            <p>Достоинства</p>
            <textarea name="positive" id="positive" cols="30" rows="10"></textarea>
        </div>
        <div class="feedback-create-negative">
            <p>Недостатки</p>
            <textarea name="negative" id="negative" cols="30" rows="10"></textarea>
        </div>
        <div class="clear"></div>
        <div class="feedback-create-comments">
            <p>Комментарии</p>
            <textarea name="comments" id="comments" cols="30" rows="10" required></textarea>
        </div>
        <p>
            Оценка 
            <span class="b-top-panel__feedback-stars">
                <span class="b-top-panel__feedback-star b-top-panel__feedback-star-gray b-top-panel__feedback-star-likelink"></span>
                <span class="b-top-panel__feedback-star b-top-panel__feedback-star-gray b-top-panel__feedback-star-likelink"></span>
                <span class="b-top-panel__feedback-star b-top-panel__feedback-star-gray b-top-panel__feedback-star-likelink"></span>
                <span class="b-top-panel__feedback-star b-top-panel__feedback-star-gray b-top-panel__feedback-star-likelink"></span>
                <span class="b-top-panel__feedback-star b-top-panel__feedback-star-gray b-top-panel__feedback-star-likelink"></span>
            </span>
        </p>
        <input type="hidden" name="rating" value="" id="rating" />
        <div class="feedback-create-personal">
            <div class="feedback-create-personal-name">
                <p>Ваше имя</p>
                <input type="text" name="username" required/>
            </div>
            <div class="feedback-create-personal-mail">
                <p>Ваш e-mail</p>
                <input type="text" name="usermail" required/>
            </div>
            <input type="submit" class="btn btn-y" name="feedback" value="Сохранить" />
        </div>
    </form>
</div>