* { margin: 0; padding: 0; }

html { width: 100%; height: 100%; }

body { background-color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 14px; height: 100%; color: #303030; }

form { margin: 0; padding: 0; }

a { color: #878787; text-decoration: none; }
a:hover { color: #080808; }

hr { border-top: 1px solid #c0c0c0; border-bottom: 0; margin-top: 85px; margin-bottom: 0px; }

h1 { font-size: 36px; font-weight: normal; padding: 30px 3px; text-align: left; }

h2 { font-size: 23px; font-weight: normal; padding: 14px 2px; text-align: left; }

h3 { font-size: 17px; font-weight: normal; padding: 3px 0px; text-align: left; }

h4 { font-size: 13px; font-weight: normal; padding: 8px 5px; text-align: left; text-transform: uppercase; }

sup { vertical-align: super; font-size: smaller; }

.has-error { border-color: #f78080; }

.logo { width: 140px; height: 31px; margin: 8px 0 0 2px; }

.icon { width: 15px; height: 15px; border: 0px solid gray; border-radius: 0; margin: auto; position: relative; display: inline-block; vertical-align: middle; box-sizing: content-box; }
.icon:hover div, .active .icon div { background-color: #ffffff; }
.icon .dot { position: absolute; width: 3px; height: 3px; border-radius: 0; background-color: #888888; }
.icon .line { position: absolute; width: 15px; height: 3px; border-radius: 0; background-color: #888888; }
.icon .dot + .line { width: 9px; left: 6px; }
.icon.cells div:nth-child(2) { left: 6px; }
.icon.cells div:nth-child(3) { left: 12px; }
.icon.cells div:nth-child(4) { top: 6px; }
.icon.cells div:nth-child(5) { top: 6px; left: 6px; }
.icon.cells div:nth-child(6) { top: 6px; left: 12px; }
.icon.cells div:nth-child(7) { top: 12px; }
.icon.cells div:nth-child(8) { top: 12px; left: 6px; }
.icon.cells div:nth-child(9) { top: 12px; left: 12px; }
.icon.photo-list div:nth-child(3) { top: 6px; }
.icon.photo-list div:nth-child(4) { top: 6px; }
.icon.photo-list div:nth-child(5) { top: 12px; }
.icon.photo-list div:nth-child(6) { top: 12px; }

.ico { background: url("../img/ico-sprite.png") no-repeat; width: 16px; height: 15px; display: inline-block; margin: 0; vertical-align: middle; }
.ico.ico-compare { background-position: 0 top; }
.ico.ico-compare:hover { background-position: 0 bottom; }
.ico.ico-favorite { background-position: -17px top; }
.ico.ico-favorite:hover { background-position: -17px bottom; }
.ico.ico-cart { background-position: -36px top; }
.ico.ico-cart:hover { background-position: -36px bottom; }
.ico.ico-letter { background-position: -57px top; }
.ico.ico-letter:hover { background-position: -57px bottom; }
.ico.ico-angle-down { background-position: -73px top; margin: 5px 0 0 0px; }
.ico.ico-angle-right { background-position: -508px top; margin: 0px 0 0 0px; }
.ico.ico-enter { background-position: -89px top; margin: 0 5px 0px 0; }
.ico.ico-search { background-position: -131px top; }
.ico.ico-menu { background-position: -109px top; }
.ico.ico-delivery { background-position: -151px top; width: 30px; height: 23px; }
.ico.ico-vk { background-position: -204px top; width: 15px; height: 20px; }
.ico.ico-fb { background-position: -219px top; width: 10px; height: 20px; }
.ico.ico_ok { background-position: -219px top; width: 10px; height: 20px; }
.ico.ico_tw { background-position: -245px top; width: 16px; height: 20px; }
.ico.ico_gp { background-position: -262px top; width: 16px; height: 20px; }
.ico.ico-delivery-free { background-position: -353px top; width: 35px; height: 35px; }
.ico.ico-free-delivery-today { background-position: -392px top; width: 35px; height: 35px; }
.ico.ico-sale { background-position: -284px top; width: 35px; height: 35px; }
.ico.ico-guarantee { background-position: -318px top; width: 35px; height: 35px; }
.ico.ico-noPrepayment { background-position: -427px top; width: 35px; height: 35px; }
.ico.ico-lamp { background-position: -466px top; width: 45px; height: 45px; }
.ico.ico-angle-left-big { background-position: -508px top; margin: 0px 0 0 0px; }
.ico.ico-angle-right-big { background-position: -508px top; margin: 0px 0 0 0px; }
.ico.ico-plus { background-position: -718px top; margin: 0px 0 0 0px; width: 30px; height: 30px; }

/*buttons*/
.btn { display: inline-block; padding: 5px 20px; height: 15px; margin-bottom: 0; font-size: 13px; color: #303030; font-weight: bold; line-height: 1.428571429; text-align: center; vertical-align: middle; cursor: pointer; border: 1px solid transparent; border-radius: 3px; -webkit-border-radius: 3px; white-space: nowrap; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none; width: 100%; text-transform: none; -webkit-appearance: none; }

.btn:focus { outline: thin dotted #333; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }

.btn:hover, .btn:focus { color: #333333; text-decoration: none; }

.btn:active, .btn.active { outline: 0; background-image: none; -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.btn.disabled, .btn[disabled], fieldset[disabled] .btn { cursor: not-allowed; pointer-events: none; opacity: 0.65; filter: alpha(opacity=65); -webkit-box-shadow: none; box-shadow: none; }

.btn-primary { color: #303030; background-color: #f0f0f0; border-color: #e6e6e6; }

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active { color: #171717; background-color: #d6d6d6; border-color: #cdcdcd; }

.btn-primary:active, .btn-primary.active { background-image: none; }

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active { background-color: #f0f0f0; border-color: #e6e6e6; }

.btn-y { color: #303030; background-color: #ffdb4a; border-color: #e9c430; }

.btn-y:hover, .btn-y:focus, .btn-y:active, .btn-y.active { color: #171717; background-color: #ffd117; border-color: #d0ab16; }

.btn-y:active, .btn-y.active { background-image: none; }

.btn-y.disabled, .btn-y[disabled], fieldset[disabled] .btn-y, .btn-y.disabled:hover, .btn-y[disabled]:hover, fieldset[disabled] .btn-y:hover, .btn-y.disabled:focus, .btn-y[disabled]:focus, fieldset[disabled] .btn-y:focus, .btn-y.disabled:active, .btn-y[disabled]:active, fieldset[disabled] .btn-y:active, .btn-y.disabled.active, .btn-y[disabled].active, fieldset[disabled] .btn-y.active { background-color: #a5a5a5; border-color: #8d8d8d; }

/*\buttons*/
/*form controls*/
.form-control:-moz-placeholder { color: #999999; }

.form-control::-moz-placeholder { color: #999999; }

.form-control:-ms-input-placeholder { color: #999999; }

.form-control::-webkit-input-placeholder { color: #999999; }

.form-control { display: block; width: 100%; height: 35px; padding: 10px 20px; font-size: 14px; line-height: 1.428571429; color: #555555; vertical-align: top; background-color: #ffffff; border: 1px solid #edeff1; border-radius: 5px; /*-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);*/ -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; margin: 15px 0; -webkit-appearance: none; }

.form-control:focus { /*border-color: #ffc000;*/ outline: 0; }

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control { cursor: not-allowed; background-color: #eeeeee; }

textarea.form-control { height: auto; }

select.form-control { padding: 0 20px; }

/*\form controls*/
@font-face { font-family: "PF Beau Sans Pro Regular"; src: url("fonts/PFBeauSansPro-Reg.ttf") format("opentype"); font-weight: normal; font-style: normal; }
