.grid * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}



/* ---- grid ---- */

.grid { 
  max-width: 12000px;
  margin:  0 16px 0 30px;
}
.grid:after {
  content: '';
  display: block;
  clear: both;
}
/* ---- grid-item ---- */
.grid-item,
.grid-sizer {
  width: 25%;
  padding-right: 14px;
  float: left;
  margin-bottom: 14px; 
}
.grid-item img {
  width: 100%;
  height: auto;
  vertical-align: top;
}
.grid-item--width2 { 
  width: 50%;  
}
.grid-item .sub {
  overflow: hidden;
  display: block;
  padding: 7px 0;
}
.grid-item .sub img {
  width: auto;
  float: left;
  margin-right: 20px;
}
.grid-item .sub.first {
  border-top: 1px solid #e6e6e6;
  margin-top: 20px;
}
.grid-item .sub {
  border-bottom: 1px solid #e6e6e6;
}
.grid-item .sub  span {
  display: block;
  font-size: 14px;
  color: #878787;
  line-height: 18px;
  position: static;
  padding: 23px 0 0;
  background: none;
  text-align: left;
}
.grid-item .sub:hover  span {
  text-decoration: underline;
  cursor: pointer;
}
.grid-item  a {
  position: relative;
  display: block;
}
.grid-item  a span {
  position:absolute;
  left: 0;
  right: 0;
  top: 0px;
  padding: 35px 0 80px;
  background: url(../img/bg-shadow.png) repeat-x 0 0;
  font-size: 21px;
  display: block;
  text-align: center;
  color: #303030;
}
.grid-item  a:hover span {
  text-decoration: underline;
}



