body {
	font-family: 'Open Sans', sans-serif;
	min-width: 1280px;
}
.wrapper {
	max-width: 1400px;
	margin: 0 auto;
}
.wrapper:before {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 41px;
	background: #f3f3f3;
	border-bottom: 1px solid #e6e6e6;
	display: block;
	content: "";
}
.fixed-panel {
	min-width: 1280px;
}
.fixed-panel .panel-wrapper .controls-left {
	float: left;
}
.fixed-panel .panel-wrapper .controls-right {
	float: right;
}
.header .header-wrapper .info-panel {
	padding: 0 30px;
	border-left: none;
	border-right: none;
	height: 41px;
	overflow: visible;
}
.header .header-wrapper .info-panel .menu li {
	padding-right: 0px;
	margin-right: 28px;
	position: relative;
}
.header .header-wrapper .info-panel .menu li span,
.info-list li .ico.ico-angle-down {
	display: block;
	position: absolute;
	height: 5px;
	top: 19px;
	right: -17px;
	margin: 0;
	width: 7px;
	background: url("../img/city.png") no-repeat scroll 0 0!important;
}
.header .header-wrapper .info-panel .info-list {
	margin-right: 20px;
}
.header .header-wrapper .info-panel .info-list .dropdown-menu-toggle {
	margin-right: 37px;
}
.info-label {
	padding-right: 4px;
}
.dropdown-menu-toggle .dropdown-menu.menu-location {
	top: 100%;
}
.header .info-panel .item:hover,
.info-list ul a:hover  {
	color: #6aa8d8!important;
}
.info-list li {
	position: relative;
}
.header .header-wrapper .info-panel .menu li.blue > a {
	color: #6aa8d8;
	border-bottom: 1px dotted #dbdbdb
}
.header .header-wrapper .info-panel .menu li  ul,
.info-list ul,.info-list .b-dropright-catalog {
	background: #ffffff none repeat scroll 0 0;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    display: none;
    font-size: 13px;
    left: 0;
    list-style: outside none none;
    margin: 0;
    outline: medium none;
    padding: 10px 20px;
    position: absolute;
    top: 100%;
    width: 200px;
    z-index: 100;
}
.info-list .b-dropright-catalog{
	width: auto;
}
.info-list h2{
	white-space: nowrap;
	width: auto;
}
.info-list ul {
	left: auto;
	right: -20px;
	width: 150px;
}
.header .header-wrapper .info-panel .menu li  ul a {
	border:none!important;
}
.header .header-wrapper .info-panel .menu li:hover  ul,
.info-list li:hover ul, .info-list li:hover .b-dropright-catalog {
	display: block;
}
.header .header-wrapper .info-panel .menu li  ul li,
.info-list ul li {
	line-height: normal;
	margin-bottom: 7px;
	margin-right: 0px;
}
.header .header-wrapper .contacts-panel {
	padding: 11px 30px;
}
.header .header-wrapper .contacts-panel .right-element > li .contacts-workingtime ,
.header .header-wrapper .contacts-panel .right-element > li .contacts-freecall{
	line-height: normal;
	margin-top: -5px;
}
.header .header-wrapper .contacts-panel .right-element li {
	padding-right: 13px;
}
.ico.ico-delivery {
	background: url("../img/cart-icon.png") no-repeat scroll 0 0;
	display: inline-block;
	width: 25px;
	height: 19px;
}
.header .header-wrapper .b-catalog-panel .delivery-status {
	position: relative;
	margin-top: 0px;
}
.header .header-wrapper .b-catalog-panel .delivery-status .item span {
	font-size: 22px;
	line-height: 42px;
}
.header .header-wrapper .b-catalog-panel .delivery-status .backet {
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -6px;
}

.ico.ico-angle-down {
	width: 7px;
	height: 5px;
}
.header .header-wrapper .b-catalog-panel .catalog-search .btn-primary .ico.ico-angle-down {
	margin-right: 5px;
	position: absolute;
	top: 32px;
	right: 5px;
	background: url("../img/city.png") no-repeat scroll 0 0!important;
}
.delivery-status a {
	display: block;
}
.header .header-wrapper .b-catalog-panel .catalog-search .query {
	padding-left: 30px;
	width: 77%;
}
.header .header-wrapper .b-catalog-panel .catalog-search {
	margin-left: 2%;
}



.content-block.tabs ul {
	margin-top: 2px;
}
.content-block.tabs ul li {
	margin-right: 29px;
}
.flexslider .slides > li {
	position: relative;
}
.flex-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: auto;
	padding: 0;
	text-align: center;
	font-weight: 300;
}
.flex-caption p {
	display: block;
	padding-top: 14px;
	padding-bottom: 16px;
	top: 0;
}
.flex-caption p br {
	display: none;
}
.flex-caption p em {
	display: block;
	padding: 0;
	margin-top: -6px;
}


.flex-control-nav {
	bottom: 33px;
	right: 33px;
}
.flex-caption {
	background: url("../img/bg-caption.png") repeat-x scroll 0 100%;
}
.content-block .features li a em {
	font-style: normal;
}
.content-block .features {
    padding: 25px 0 30px;
}
.content-block .features li {
    display: inline-block;
    margin: 0 -4px 0 0 !important;
    width: 25% !important;
}
.content-block .features li a em {
	display: inline-block;
}
.content-block.tabs-content.border-bottom {
	margin-bottom: 21px!important;
}
.content-block.tabs.m41 ul li {
	margin-right: 41px;
}
.content-block.tabs.m41 ul {
	margin-bottom: 23px;
}
.content-block .popular .popular__row {
	margin-bottom: 14px;
}
.content .content-wrapper .content-block {
	margin: 0 30px;
}
.content-block.tabs ul {
	padding-top: 7px;
}
.content-block.tabs ul li {
	margin-right: 0px;
	margin-left: 29px;
}
.content-block.tabs ul .last a {
	font-size: 13px;
}
.content-block.tabs ul li.active {
	margin-left: 0px;
}

.content-block-slider {
	margin: 0 30px;
	padding-top: 16px;
}
.content-block-slider .flex-control-nav {
	bottom: -35px;
	right: 0;
	left: 0;
}
.content-block-slider .flexslider {
	margin-bottom: 40px;
}
.seo-text .seo-text-wrapper {
	margin: 3px 30px 0;
	max-width: 1000px;
}
.seo-text .seo-text-wrapper .lamp {
	margin-bottom: 10px;
}
.seo-text .seo-text-wrapper p {
	font-size: 11px;
	font-weight: 300;
	line-height: 14px;
	margin-bottom: 9px;
}
.footer .footer-wrapper .footer-block .footer-menu {
	margin-top: 43px;
	height: 32px;
}
.footer .footer-wrapper .footer-block .footer-social a {
	margin: 0 0 0 15px;
}
.footer-social p {
	font-size: 13px;
	margin-right: 0px;
	margin-top: 9px;
}
.footer .footer-wrapper .footer-block .footer-social {
	margin-right: 0px;
	margin-top: 34px;
}
.footer .footer-wrapper .footer-block .copyright {
	margin-top: 5px;
}
.fixed-panel .panel-wrapper .controls-left .controls-list li .btn {
	color: #fff;
	font-size: 15px;
	line-height: 37px;
	border: none;
	padding: 0 19px 0 41px;
	height: auto;
	background: #ff9000 url("../img/mail-icon.png") no-repeat scroll 13px 50%;
	margin-top: 5px;
}
.fixed-panel .panel-wrapper .controls-left .controls-list li .btn:hover {
	background: #6aa8d8 url("../img/mail-icon.png") no-repeat scroll 13px 50%;
}
.fixed-panel .panel-wrapper .controls-left .controls-list li {
	line-height: 0px;
	list-style-type: none;
}
.fixed-panel .panel-wrapper .controls-left .controls-list li .btn span {
	display: none;
}
.fixed-panel .panel-wrapper .controls-right .btn {
	line-height: 37px;
	height: auto;
	padding: 0 20px;
	width: auto;
	font-weight: normal;
	margin-top: 5px;
}
.fixed-panel .panel-wrapper .controls-right .cart-total {
	font-size: 19px;
}
.fixed-panel .panel-wrapper .controls-right .cart-total em {
	font-style: normal;
	font-size: 13px;
}
.fixed-panel .panel-wrapper .controls-right .controls-list li {
	padding: 10px 27px;
}
.fixed-panel .panel-wrapper .controls-right .controls-list li a .counter {
	background: #fff!important;
	border:1px solid #fff!important;
}
.fixed-panel .panel-wrapper .ico.ico-cart {
	background:  url("../img/cart-icon-blue.png") no-repeat scroll 0 0!important;
	   height: 23px;
    width: 30px;
    float: left;
    margin-top: 5px;
}
.fixed-panel .panel-wrapper .controls-right .controls-list .active3 {
	background: #303030;
	padding-left: 10px;
}
.fixed-panel .panel-wrapper .controls-right .controls-list .active2 {
	padding-left: 10px;
	background-position: 23px 50%;
}
.fixed-panel .panel-wrapper .controls-right .controls-list .active {
	padding-left: 47px;
	background-position: 12px 50%;
}
.fixed-panel .panel-wrapper .controls-right .controls-list li.active .underline, .fixed-panel .panel-wrapper .controls-right .controls-list li *:hover .underline {
	border: none;
}
.seo-text .seo-text-wrapper {
	max-width: 10000px;
	padding-bottom: 10px;
}

.footer .footer-wrapper .footer-block .footer-menu li a {
    border-bottom: 1px solid #aaaaaa!important;
    color: #303030!important;
}

.footer .footer-wrapper .footer-block .footer-menu li a:hover .item {
    border-bottom: 1px dotted #dbdbdb!important;
    color: #6aa8d8!important;
}




.b-dropdown .ico.ico-angle-right {
	background: url("../img/gt.png") no-repeat scroll 0 0!important;
	width:5px;
	opacity: 0.5;
	height: 7px;
}
.b-dropdown a:hover .ico.ico-angle-right {
	opacity: 1;
}

.b-dropdown .b-dropright-catalog li dt {
	font-weight: bold;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #e6e6e6;
	color: #303030;
}

.b-dropdown .b-dropright-catalog li dd a {
	color: #2f2f2f;
	line-height: 18px;
	margin-bottom: 12px;
	display: inline-block;
}
.b-dropdown .b-dropright-catalog li dd a:hover,
.b-dropdown .b-dropright-catalog li dd a.b-dropright-catalog-link {
	color: #83b5dd;
}

.b-dropdown .b-dropright-catalog li dd a.b-dropright-catalog-link {
	position: relative;
}
.b-dropdown .drop.b-dropdown .b-dropright-catalogright-catalog li dd a.b-dropright-catalog-link .ico.ico-angle-right {
	right: -17px;
	top: 2px;
}