.content {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  margin-bottom: 350px;
}
.content .content-wrapper {
  max-width: 1400px;
  min-width: 1080px;
  margin: 0 auto;
}
.content .content-wrapper .content-block {
  margin: 0 30px;
}
/* common styles */
.fl_l {
  float: left;
}
.fl_r {
  float: right;
}
.padr20 {
  padding-right: 20px;
}
/* common styles */
/* breadcrumbs section */
.b-breadcrumbs {
  margin-top: 34px;
}
.b-breadcrumbs__link,
.b-breadcrumbs__current {
  font-size: 11px;
  font-family: Arial, Tahoma, Verdana, sans-serif;
  color: #878787;
}
.b-breadcrumbs__current-arrow {
  color: #ffc533;
  background: url(../img/darrow.png) left top no-repeat;
  display: inline-block;
  width: 9px;
  height: 10px;
  position: relative;
  top: 2px;
}
/* breadcrumbs section */
/* good block */
.b-goods__header {
  padding: 0;
  margin: 20px 0 10px;
}
.b-goods__header-bottom li {
  list-style-type: disc;
  float: left;
  font-family: Arial, Tahoma, Verdana, sans-serif;
  font-size: 13px;
  color: #878787;
  white-space: nowrap;
  margin-right: 26px;
}
.b-goods__header-bottom li:first-child {
  list-style-type: none;
}
.b-goods__info-top-panel {
  height: 46px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  background: #fafafa;
  margin-top: 30px;
}
.b-top-panel li {
  float: left;
  margin-right: 4px;
  font-size: 11px;
  color: #878787;
  line-height: 46px;
}
.b-top-panel li:last-child {
  float: right;
  margin-right: 18px;
}
.b-top-panel .b-top-panel__art {
  font-size: 13px;
  color: #000;
  margin-left: 18px;
  margin-right: 32px;
  line-height: 48px;
}
.b-top-panel .b-top-panel__art span {
  font-weight: 700;
}
.b-top-panel__feedback-stars {
  position: relative;
  top: 2px;
  margin: 0 12px;
}
.b-top-panel__feedback-star {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 4px;
}
.b-top-panel__feedback-star:last-child {
  margin-right: 0;
}
.b-top-panel__feedback-star-gold {
  background: url(../img/goldstar.png );
}
.b-top-panel__feedback-star-gray {
  background: url(../img/graystar.png );
}
.b-top-panel__feedback-star-gold-big {
  background: url(../img/goldstar-24.png );
}
.b-top-panel__feedback-star-gray-big {
  background: url(../img/graystar-big.png );
}
.b-top-panel__feedback-span {
  border-bottom: 1px dotted #ccc;
  cursor: pointer;
}
.b-top-panel__warranty img {
  position: relative;
  top: 7px;
}
.b-top-panel__warranty span {
  position: relative;
  bottom: 4px;
  margin-left: 6px;
}
li.b-top-panel__bestby,
li.b-top-panel__action {
  background: #ffdb4a;
  border-radius: 2px;
  height: 20px;
  line-height: 20px;
  position: relative;
  top: 13px;
  padding: 0 6px;
}
li.b-top-panel__bestby a,
li.b-top-panel__action a {
  color: #000;
}
li.b-top-panel__bestby:hover,
li.b-top-panel__action:hover {
  cursor: pointer;
}
li.b-top-panel__bestby {
  margin-left: 20px;
}
.b-goods__good {
  padding-right: 360px;
  padding-left: 30%;
  position: relative;
  margin-top: 36px;
  padding-bottom: 90px;
  min-height: 400px;
}
.b-goods__good-photo {
  max-width: 410px;
  min-width: 360px;
  width: 30%;
  position: absolute;
  left: 0;
  top: 0;
}
.b-goods__good-info {
  margin-right: 40px;
  margin-left: 40px;
}
.b-goods__good-more,
.b-goods__good-more-about {
  width: 315px;
  padding: 20px;
  padding-bottom: 0;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.b-goods__good-more-about {
  width: 355px;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  border-radius: 0;
}
.b-goods__good-photo-main {
  position: relative;
  margin-bottom: 12px;
}
.b-goods__good-photo-main img {
  width: 100%;
  max-width: 410px;
  max-height: 308px;
}
.b-goods__good-photo-zoom {
  position: absolute;
  width: 49px;
  height: 49px;
  left: 0;
  top: 0;
  z-index: 10;
  background: url(../img/zoom.png) left top no-repeat;
}
.b-goods__good-photo-thumbs li {
  float: left;
  margin-right: 12px;
  border: 1px solid transparent;
  width: 71px;
  height: 71px;
}
.b-goods__good-photo-thumbs li img {
  max-width: 71px;
  max-height: 71px;
  margin: 0 auto;
  vertical-align: middle;
}
.b-goods__good-photo-thumbs li.b-goods__good-photo-thumbs-current {
  border-color: #e9c430;
}
.b-goods__good-info p {
  display: inline-block;
  min-height: 105px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 20px;
}
.b-goods__good-span-more-info {
  background: url(../img/moreinfo.png) left top no-repeat;
  width: 23px;
  height: 13px;
  display: inline-block;
  position: relative;
  top: 3px;
  cursor: pointer;
}
.b-goods__good-info-params {
  width: 100%;
  margin-bottom: 20px;
}
.b-goods__good-info-params .first-child {
  width: 170px;
  display: inline-block;
  border-bottom: 1px dotted #ccc;
}
.b-goods__good-info-params .first-child span {
  background: #fff;
  position: relative;
  bottom: -1px;
}
.b-goods__good-info-params li {
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}
.b-goods__good-info-params h3 {
  font-weight: bold;
  margin-bottom: 38px;
}
.js-button {
  display: inline-block;
  height: 30px;
  padding: 0 12px;
  line-height: 30px;
  background: transparent;
  border-radius: 3px;
  font-size: 13px;
}
.js-button-gray {
  background: #fff;
  border: 1px solid #ccc;
  color: #000;
}
.js-button-yellow {
  background: #ffdb4a;
  height: 31px;
  padding: 0 20px;
  border: 1px solid #e9c430;
  line-height: 31px;
  color: #000;
}
.js-button-beige {
  background: #fff5cf;
  border: 1px solid #e6e6e6;
}
.js-button-up {
  padding-left: 24px;
  background: url(../img/up-ico.png) 10% center no-repeat;
}
.js-digital-spinner {
  width: 38px;
  height: 33px;
  margin-left: 11px;
  position: relative;
}
.js-digital-spinner input {
  width: 24px;
  height: 31px;
  border: 1px solid #ddd;
  border-right: none;
  line-height: 31px;
  font-size: 13px;
  outline: none;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.js-digital-spinner span {
  position: absolute;
  right: 0;
  border: 1px solid #ddd;
  width: 13px;
  height: 15px;
  cursor: pointer;
}
.js-digital-spinner span.js-digital-spinner-up {
  top: 0;
  background: url(../img/spinner-up.png) center center no-repeat;
  border-top-right-radius: 4px;
}
.js-digital-spinner span.js-digital-spinner-down {
  top: 17px;
  border-top: none;
  background: url(../img/spinner-down.png) center center no-repeat;
  border-bottom-right-radius: 4px;
}
.b-goods__good-more-oneclick {
  width: 170px;
  margin-bottom: 18px;
}
.b-goods__good-more-oneclick input {
  width: 100px;
  height: 18px;
  border: 1px solid #ddd;
  margin-left: 5px;
  position: relative;
  top: 1px;
  outline: none;
}
.b-goods__good-more-oneclick > p {
  text-align: center;
  font-size: 11px;
  color: #878787;
}
.b-goods__good-more-oneclick > div {
  margin-left: 10px;
  color: #878787;
}
.b-goods__good-more-oneclick .js-button {
  border: 1px solid #ddd;
  border-radius: 3px;
  height: 18px;
  padding: 0 6px;
  line-height: 18px;
  margin-left: 3px;
  font-size: 11px;
}
.b-goods__good-more-buy > a {
  float: left;
}
.b-goods__good-more-buy > div:not(.clear) {
  float: left;
}
.b-goods__good-more-price {
  margin-bottom: 22px;
}
.b-goods__good-more-price span {
  font-size: 30px;
  color: #000;
}
.b-goods__good-more-price-ico {
  float: right;
  width: 15px;
  height: 14px;
  margin-left: 8px;
  margin-top: 11px;
}
.b-goods__good-more-price-ico1 {
  background: url(../img/ico1.png) left top no-repeat;
}
.b-goods__good-more-price-ico2 {
  background: url(../img/ico2.png) left top no-repeat;
}
.b-goods__good-more-price-ico3 {
  background: url(../img/ico3.png) left top no-repeat;
}
.b-goods__good-more-delivery {
  background: #dff0d8;
  padding: 12px 22px;
  margin-bottom: 18px;
  line-height: 20px;
}
.b-goods__good-more-delivery > p {
  font-size: 13px;
}
.b-goods__good-more-delivery > p > a {
  color: #000;
  border-bottom: 1px dotted #000;
}
.b-goods__good-more-delivery > a {
  font-size: 11px;
  color: #000;
  border-bottom: 1px dotted #000;
}
.delimiter {
  width: 355px;
  position: relative;
  left: -20px;
  border-bottom: 1px solid #ddd;
}
.b-goods__more-like {
  margin-top: 36px;
}
.b-goods__more-like > a {
  border-bottom: 1px dotted #ddd;
  margin-top: 12px;
  display: inline-block;
}
.b-goods__more-like h3 {
  margin-bottom: 18px;
}
.b-goods__good-feedback {
  margin: 0 40px;
  margin-top: 40px;
}
.b-goods__good-feedback .js-button {
  margin-top: 12px;
}
.b-goods__good-feedback-bubble {
  background: #fff7d6;
  padding: 15px 27px;
  max-height: 110px;
  font-size: 13px;
  line-height: 18px;
  border-radius: 4px;
  position: relative;
  margin-bottom: 24px;
}
.b-goods__good-feedback-bubble p {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 110px;
}
.bubble-marker {
  position: absolute;
  left: -5px;
  top: 15px;
  width: 13px;
  height: 15px;
  background: url(../img/bubble-marker.png) top left no-repeat;
}
.bubble-corner {
  position: absolute;
  left: 33px;
  bottom: -16px;
  width: 16px;
  height: 16px;
  background: url(../img/bubble-corner.png) top left no-repeat;
}
.b-goods__more-like-slider {
  position: relative;
  overflow: hidden;
}
.b-goods__more-like-slider > ul {
  display: block;
  width: 99999px;
}
.b-goods__more-like-slider > a {
  position: absolute;
  top: 48px;
  width: 26px;
  height: 26px;
}
.b-goods__more-like-slider > a.b-goods__more-like-slider-button-prev {
  background: url(../img/slider-prev.png) left top no-repeat;
  left: 1px;
}
.b-goods__more-like-slider > a.b-goods__more-like-slider-button-next {
  background: url(../img/slider-next.png) left top no-repeat;
  right: 0;
}
.b-goods__more-like-slider li {
  position: relative;
  float: left;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 16px 18px;
  padding-left: 120px;
  width: 201px;
  margin: 0 9px;
}
.b-goods__more-like-slider li img {
  position: absolute;
  left: 18px;
  top: 16px;
}
.b-goods__more-like-slider li p {
  height: 32px;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.b-goods__more-like-slider li p:last-child {
  font-size: 18px;
  margin-top: 24px;
}
.b-goods__good-more-discount,
.b-goods__good-more-colors,
.b-goods__good-more-credit {
  padding-left: 64px;
  position: relative;
  height: 50px;
  padding-top: 12px;
}
.b-goods__good-more-discount > img,
.b-goods__good-more-colors > img,
.b-goods__good-more-credit > img {
  position: absolute;
  left: 10px;
  top: 15px;
}
.b-goods__good-more-discount > a,
.b-goods__good-more-colors > a,
.b-goods__good-more-credit > a {
  font-size: 13px;
  color: #000;
  text-decoration: underline;
}
.b-goods__good-more-discount > p,
.b-goods__good-more-colors > p,
.b-goods__good-more-credit > p {
  font-size: 11px;
  color: #878787;
  margin-top: 8px;
}
.b-goods__good-more-discount > div,
.b-goods__good-more-colors > div,
.b-goods__good-more-credit > div {
  margin-top: 6px;
}
.b-goods__good-more-discount > div > span > img,
.b-goods__good-more-colors > div > span > img,
.b-goods__good-more-credit > div > span > img {
  border: 2px solid transparent;
  border-radius: 3px;
}
.b-goods__good-more-discount > div > span > img.b-goods__good-more-colors-current,
.b-goods__good-more-colors > div > span > img.b-goods__good-more-colors-current,
.b-goods__good-more-credit > div > span > img.b-goods__good-more-colors-current {
  border-color: #ffdb4a;
}
.b-goods__good-more-discount > div > a,
.b-goods__good-more-colors > div > a,
.b-goods__good-more-credit > div > a {
  font-size: 11px;
  border-bottom: 1px dotted #ddd;
  position: relative;
  top: -7px;
  margin-left: 4px;
}
/* good block */
/* accessories block */
.b-accessories {
  margin-bottom: 56px;
}
.b-accessories h2 {
  font-family: "PF Beau Sans Pro Regular";
}
.b-accessories__header-bottom li {
  float: left;
  margin-left: 24px;
}
.b-accessories__header-bottom li:first-child {
  margin-left: 0;
}
.b-accessories__header-bottom li a {
  border-bottom: 1px dotted #ddd;
  font-size: 13px;
  position: relative;
  top: 6px;
}
.b-accessories__header-bottom li.b-accessories__header-bottom-current {
  line-height: 30px;
  font-size: 13px;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 0 10px;
}
.b-accessories__header-bottom li.b-accessories__header-bottom-current a {
  top: 0;
  border-bottom: none;
  color: #000;
  cursor: default;
}
.b-accessories__header-bottom li.b-accessories__header-bottom-current a:hover {
  color: #000;
}
.b-accessories__slider {
  height: 328px;
  border: 1px solid #ffdb4a;
  border-radius: 4px;
  margin-top: 20px;
  position: relative;
}
.b-accessories__slider-wrapper {
  height: 100%;
  overflow: hidden;
  padding-right: 178px;
}
.b-accessories__slider-wrapper > ul {
  width: 99999px;
}
.b-accessories__slider-wrapper li {
  width: 185px;
  border-right: 1px solid #ddd;
  padding: 12px 11px;
  float: left;
}
.b-accessories__slider-wrapper li img {
  margin-bottom: 20px;
  max-width: 183px;
  max-height: 147px;
}
.b-accessories__slider-wrapper li p {
  height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 40px;
}
.b-accessories__slider-wrapper li span {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.b-accessories__right-panel {
  position: absolute;
  right: 0;
  top: 0;
  background: #fff;
  width: 138px;
  height: 100%;
  z-index: 1;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  padding: 0 20px;
}
.b-accessories__right-panel p:first-child {
  margin-top: 35px;
  line-height: 18px;
  font-family: Arial;
  font-size: 13px;
}
.b-accessories__right-panel p:first-child span:last-child {
  display: block;
  font-size: 30px;
  margin-top: 16px;
  margin-bottom: 25px;
}
.b-accessories__right-panel p:last-of-type {
  font-size: 11px;
  color: #878787;
  margin-top: 25px;
  line-height: 18px;
  margin-bottom: 45px;
}
.b-accessories__right-panel a:last-of-type {
  color: #878787;
  font-size: 11px;
  border-bottom: 1px dotted #ddd;
  margin-top: 45px;
}
.b-accessories__right-panel a:last-of-type:hover {
  color: #000;
  border-color: #000;
}
/* accessories block */
/* good params block */
.b-params {
  position: relative;
  margin-bottom: 50px;
  height: 727px;
}
.b-params-tabs-link {
  display: inline-block;
  margin-right: 3px;
  height: 46px;
  line-height: 46px;
  border: 1px solid #ddd;
  border-bottom: none;
  color: #000;
  padding: 0 40px 0 55px;
  position: relative;
  cursor: pointer;
  background: #fafafa;
}
.b-params-tabs-link > span {
  color: #878787;
}
.b-params-tabs-link > img {
  position: absolute;
  left: 19px;
  top: 14px;
}
.b-params-tabs-link-current {
  cursor: default;
  background: #fff;
  padding-bottom: 2px;
  z-index: 2;
}
.b-params__tabs-tab {
  display: none;
  border: 1px solid #ddd;
  position: absolute;
  left: 0;
  top: 48px;
  min-height: 597px;
  min-width: 96%;
  padding: 40px 24px;
  overflow: hidden;
  overflow-y: scroll;
}
.b-params__tabs-tab h2 {
  padding-bottom: 34px;
}
.b-params__tabs-tab .b-goods__good-info-params {
  margin-bottom: 50px;
}
.b-params__tabs-tab-current {
  display: block;
}
/* good params block */
/* b-discount section */
.b-discount .b-accessories__slider {
  height: 290px;
  border-color: #9494c5;
}
.b-discount .b-accessories__slider-wrapper {
  padding-right: 0;
}
.b-discount .b-accessories__slider-button-next {
  right: -16px;
}
/* b-discount section */
/* b-alsobuy section */
.b-alsobuy {
  margin-top: 50px;
}
.b-alsobuy .b-accessories__slider {
  height: 290px;
  border-color: #4abb62;
}
.b-alsobuy .b-accessories__slider-wrapper {
  padding-right: 0;
}
.b-alsobuy .b-accessories__slider-button-next {
  right: -16px;
}
/* b-alsobuy section */
/* b-colors section */
.b-colors__table {
  border-collapse: collapse;
  width: 98%;
  margin-right: 2%;
  margin-bottom: 50px;
}
.b-colors__table thead tr {
  border-bottom: 1px solid #ddd;
  text-align: left;
  height: 40px;
  line-height: 40px;
  font-weight: normal;
  font-family: Arial, sans-serif;
  font-size: 11px;
  color: #878787;
}
.b-colors__table tbody tr {
  border-bottom: 1px solid #ddd;
  text-align: left;
  height: 68px;
  vert-align: middle;
  font-weight: normal;
  font-family: Arial, sans-serif;
  font-size: 13px;
}
.b-colors__table .b-goods__good-more-price-ico {
  margin-top: 0;
  margin-right: 16px;
}
.b-colors__table .b-goods__good-more-price-ico:first-child {
  margin-right: 32px;
}
.b-colors__table .b-top-panel__feedback-stars {
  margin-left: 0;
}
.b-colors__td-colors {
  padding-left: 32px;
  position: relative;
}
.b-colors__td-colors img {
  position: absolute;
  left: 0;
  top: 24px;
}
/* b-colors section */
/* b-banners__banners section */
.b-banners {
  margin-bottom: 40px;
}
.b-banners__banners {
  height: 85px;
  margin-top: 40px;
  border: 1px solid #ddd;
  border-radius: 4px;
  position: relative;
}
.b-banners__banners .b-banners__banner {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  text-align: center;
}
.b-banners__banners .b-banners__banner-current {
  display: block;
}
.b-banners__links {
  position: absolute;
  left: 50%;
  display: inline-block;
  margin-left: -26px;
  cursor: pointer;
}
.b-banners__links .b-banners__link {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url(../img/slider-thumbs.png) left top no-repeat;
}
.b-banners__links .b-banners__link-current {
  background: url(../img/slider-thumbs-current.png) left top no-repeat;
}
.b-banners__links-wrapper {
  position: relative;
}
/* b-banners__banners section */
/* b-yousaw section */
.b-yousaw .b-goods__more-like-slider {
  border: 1px solid #ffdb4a;
  border-radius: 4px;
}
.b-yousaw .b-goods__more-like-slider > ul {
  width: auto;
  height: 122px;
  overflow: hidden;
}
.b-yousaw .b-goods__more-like-slider li {
  margin: 0;
  padding: 0;
  border-radius: 0;
  width: 20%;
  border: none;
}
.b-yousaw .b-goods__more-like-slider li > div {
  padding: 16px 18px;
  padding-left: 120px;
  border-left: 1px solid #ddd;
}
.b-yousaw .b-goods__more-like-slider li:first-child > div {
  border-left: none;
}
/* b-yousaw section */
/* b-bytheway section */
.b-bytheway {
  margin-top: 50px;
}
/* b-bytheway section */
.b-bytheway__wrapper {
  overflow: hidden;
}
.b-bytheway__wrapper td {
  width: 330px;
  padding-bottom: 22px;
  vertical-align: top;
}
.b-bytheway__inner {
  width: 230px;
  padding-left: 22px;
  font-size: 13px;
  line-height: 20px;
  position: relative;
  padding-right: 78px;
}
.b-bytheway__inner a {
  text-decoration: underline;
  color: #70709f;
  font-size: 13px;
}
.b-bytheway__inner span {
  position: absolute;
  left: 0;
  top: 0;
}
/* b-feedbacks section */
.b-feedbacks {
  margin: 50px 0;
}
.b-feedbacks h2 {
  padding-bottom: 26px;
}
.b-feedbacs__main {
  padding-right: 160px;
  position: relative;
}
.b-feedbacks__right {
  width: 150px;
  position: absolute;
  right: 0;
  top: 0;
}
.b-feedbacks__right h4 {
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-transform: none;
  padding: 26px 0 14px;
}
.b-feedbacks__right > p {
  font-size: 11px;
  text-decoration: underline;
  margin-top: 12px;
}
.b-feedbacks__right .js-button-yellow {
  width: 148px;
  text-align: center;
  padding: 0;
}
.b-feedbacks__feedback-info .b-top-panel__feedback-stars {
  margin-left: 0;
}
.b-feedbacks__feedback-info h4 {
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-transform: none;
  padding: 14px 0 10px;
}
.b-feedbacks__feedback-info > p {
  font-size: 11px;
  text-decoration: none;
  margin-top: 0;
  color: #878787;
}
.js-button-yellow {
  padding: 0 26px;
}
.b-feedbacs__sortby-current {
  cursor: default;
}
.b-feedbacs__sortby span {
  margin-right: 34px;
}
.b-feedbacs__sortby a {
  margin-right: 30px;
  border-bottom: 1px dotted #878787;
}
.b-top-panel__feedback-stars-big {
  margin-left: 0;
  margin-bottom: 12px;
}
.b-top-panel__feedback-stars-big .b-top-panel__feedback-star {
  width: 24px;
  height: 24px;
  margin-right: 2px;
}
.b-top-panel__feedback-stars-list .b-top-panel__feedback-stars {
  margin-left: 0;
}
.b-top-panel__feedback-stars-list .b-top-panel__feedback-stars .b-top-panel__feedback-star {
  margin-right: 0;
}
.b-top-panel__feedback-stars-list li {
  margin-bottom: 10px;
}
.b-top-panel__feedback-stars-list li span:last-child {
  font-size: 11px;
  text-decoration: underline;
}
.b-feedbacks__feedbacks-feedback {
  padding-right: 180px;
}
.b-feedbacks__feedbacks-feedback li {
  padding-left: 190px;
  position: relative;
  margin-bottom: 50px;
}
.b-feedbacks__feedbacks-feedback li:first-child {
  margin-top: 30px;
}
.b-feedbacks__feedbacks-feedback li .b-feedbacks__feedback-info {
  position: absolute;
  left: 0;
  top: 0;
}
.b-feedbacks__feedbacks-feedback li .b-feedbacks__feedback-info .b-top-panel__feedback-star {
  margin-right: 0;
}
.b-feedbacks__feedbacks-feedback li .b-feedbacks__feedback-text p.b-feedbacks__feedback-text-main,
.b-feedbacks__feedbacks-feedback li .b-feedbacks__feedback-text p.b-feedbacks__feedback-text-plus,
.b-feedbacks__feedbacks-feedback li .b-feedbacks__feedback-text p.b-feedbacks__feedback-text-minus {
  position: relative;
  padding-left: 24px;
  max-width: 820px;
  margin-bottom: 24px;
  font-size: 13px;
}
.b-feedbacks__feedbacks-feedback li .b-feedbacks__feedback-text p.b-feedbacks__feedback-text-main {
  background: url(../img/feedback-larr.png) top left no-repeat;
}
.b-feedbacks__feedbacks-feedback li .b-feedbacks__feedback-text p.b-feedbacks__feedback-text-plus {
  background: url(../img/feedback-plus.png) top left no-repeat;
}
.b-feedbacks__feedbacks-feedback li .b-feedbacks__feedback-text p.b-feedbacks__feedback-text-minus {
  background: url(../img/feedback-minus.png) top left no-repeat;
}
/* b-feedbacks section */
/* b-status */
.b-status {
  height: 50px;
  border-top: 1px solid #ddd;
  width: 100%;
}
.b-status .js-button-gray {
  margin-top: 9px;
  margin-left: 36px;
}
.b-status li {
  float: left;
}
.b-status li * {
  float: left;
}
/* b-status */
/* b-basket section */
.b-basket-wrapper {
  background: #fafafa;
}
.b-basket__line {
  height: 46px;
}
.b-basket__inner-wrapper {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 68px;
}
.b-basket {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ddd;
  background: #fff;
}
.b-basket h1 {
  margin: 0;
  padding: 0;
  font-family: "PF Beau Sans Pro Regular";
  font-size: 21px;
}
.b-basket thead tr {
  height: 72px;
  line-height: 72px;
  border-bottom: 1px solid #ddd;
}
.b-basket thead tr th {
  text-align: left;
}
.b-basket thead tr th:first-child {
  padding-left: 16px;
}
.b-basket thead p {
  font-size: 11px;
  color: #878787;
}
.b-basket tbody {
  width: 100%;
}
.b-basket tr td {
  padding-top: 18px;
  border-bottom: 1px solid #ddd;
  vertical-align: top;
}
.b-basket tr td:first-child {
  padding-left: 16px;
}
.b-basket tr td.b-basket__img {
  width: 11%;
}
.b-basket tr td.b-basket__name {
  width: 53%;
}
.b-basket tr td.b-basket__name h4 {
  margin: 0;
  padding: 0;
  line-height: 33px;
  text-transform: none;
  font-weight: bold;
  font-size: 15px;
}
.b-basket tr td.b-basket__name p {
  color: #878787;
  line-height: 18px;
  font-size: 13px;
  width: 95%;
}
.b-basket tr td.b-basket__name p img {
  margin-left: 4px;
}
.b-basket tr td.b-basket__price {
  width: 9%;
}
.b-basket tr td.b-basket__price span {
  font-size: 15px;
  line-height: 33px;
}
.b-basket tr td.b-basket__qty {
  width: 13%;
}
.b-basket tr td.b-basket__qty .js-digital-spinner {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}
.b-basket tr td.b-basket__qty .js-digital-spinner input {
  height: 33px;
  width: 40px;
  line-height: 33px;
  border-radius: 3px;
  border-right: 1px solid #ddd;
}
.b-basket tr td.b-basket__qty .js-digital-spinner-up,
.b-basket tr td.b-basket__qty .js-digital-spinner-down {
  background: none;
  position: relative;
  display: inline-block;
  height: 33px;
  width: 33px;
  text-align: center;
  border-radius: 3px;
  color: #878787;
  line-height: 33px;
}
.b-basket tr td.b-basket__qty .js-digital-spinner-down {
  top: 0;
  border: 1px solid #ddd;
}
.b-basket tr td.b-basket__summ {
  width: 13%;
}
.b-basket tr td.b-basket__summ > span {
  font-size: 18px;
  line-height: 33px;
  font-weight: bold;
}
.b-basket tr td.b-basket__summ .b-basket__summ-more {
  margin-bottom: 30px;
}
.b-basket tr td.b-basket__summ .b-basket__summ-more span {
  font-size: 11px;
  color: #878787;
  line-height: 18px;
}
.b-basket tr td.b-basket__summ .b-basket__summ-remove a {
  padding-left: 14px;
  background: url(../img/cross10.png) left center no-repeat;
  text-decoration: dotted;
  font-size: 11px;
}
.b-basket tr td.b-basket__summ .b-basket__summ-remove a span {
  border-bottom: 1px dotted #878787;
}
.b-basket .b-basket__name-artikul {
  margin-top: 40px;
  margin-bottom: 22px;
}
.b-basket .b-basket__name-artikul > span {
  font-size: 11px;
  font-weight: bold;
  color: #000;
}
.b-basket .b-basket__summary {
  height: 108px;
  line-height: 108px;
}
.b-basket .b-basket__summary td {
  padding-top: 0!important;
}
.b-basket .b-basket__summary .b-basket__summary-summary {
  font-size: 21px;
}
.b-basket .b-basket__summary .b-basket__summary-order .b-basket__summary-promo {
  float: left;
  font-size: 13px;
  border-bottom: 1px dotted #8080a9;
  color: #8080a9;
  line-height: 13px;
  margin-top: 46px;
}
.b-basket .b-basket__summary .b-basket__summary-order .js-button-yellow {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  padding: 0 26px;
  float: right;
  margin-top: 32px;
  margin-right: 18px;
  width: 130px;
  text-align: center;
}
.b-basket-post-info {
  font-size: 13px;
  color: #878787;
  margin-top: 32px;
  margin-bottom: 68px;
}
/* b-basket section */
/* custom elems */
.custom_chb {
  display: none;
  width: 0;
  height: 0;
  position: absolute;
  left: -999999px;
}
.custom_chb + label.custom_chb_button_label {
  display: block;
  width: 48px;
  height: 25px;
  line-height: 25px;
  border: 1px solid #ffdb4a;
  border-radius: 4px;
  background: url(../img/access-check.png) 10% center no-repeat;
  padding-left: 30px;
  margin-top: 11px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.custom_chb:checked + label.custom_chb_button_label {
  background: url(../img/access-check-checked.png) 10% center no-repeat #ffdb4a;
  border-color: #e9c430;
}
.b-accessories__slider-button {
  position: absolute;
  top: 140px;
  width: 45px;
  height: 45px;
  cursor: pointer;
  z-index: 2;
}
.b-accessories__slider-button-prev {
  background: url(../img/slider-prev-big.png);
  left: -17px;
}
.b-accessories__slider-button-next {
  background: url(../img/slider-next-big.png);
  right: 165px;
}
/* custom elems */
/* b-popup section */
/* b-popup section */
.b-overlay {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(200, 200, 200, 0.4);
  z-index: 100;
}
.b-popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 199;
  background: #fff;
  width: auto;
  height: auto;
  min-width: 300px;
  min-height: 50px;
  margin-left: -150px;
  margin-top: -25px;
}
.b-popup {
  display: block;
  padding: 40px;
}
.b-popup .b-popup__close {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 10px;
  top: 10px;
  cursor: pointer;
  background: url(../img/popup-close.png ) center center no-repeat;
}
.want-order-later,
.order-created,
.feedback-thank,
.good-added {
  display: block;
  width: 730px;
}
.good-added {
  width: 840px;
}
.want-order-later h2,
.order-created h2,
.feedback-thank h2,
.city-list h2,
.order-status h2 {
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
}
.want-order-later p:first-of-type,
.order-created p,
.feedback-thank p {
  font-size: 13px;
  color: #000;
  margin-top: 26px;
  margin-bottom: 27px;
}
.feedback-thank p:first-of-type {
  font-weight: bold;
}
.want-order-later p:last-of-type {
  font-size: 11px;
  color: #878787;
  margin-top: 16px;
}
.want-order-later input {
  outline: none;
  padding-left: 15px;
  width: 265px;
  height: 30px;
  line-height: 30px;
  color: #000;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 13px;
}
.want-order-later .js-button-yellow {
  margin-left: 18px;
}
.order-created > span {
  color: #878787;
  font-size: 11px;
}
.good-added .b-basket tr td {
  padding-top: 12px;
}
.good-added .b-basket tr td.b-basket__img {
  padding-bottom: 10px;
}
.good-added .b-basket tr td.b-basket__img img {
  width: 62px;
  height: 50px;
}
.good-added .b-basket tr td.b-basket__name {
  width: 360px;
  overflow: hidden;
  padding-top: 20px;
}
.good-added .b-basket tr td.b-basket__name h4 {
  width: 360px;
  overflow: hidden;
  height: 33px;
  text-overflow: ellipsis;
}
.good-added .b-basket tr td.b-basket__qty {
  width: 18%;
  padding-top: 18px;
}
.good-added .b-basket tr td.b-basket__price {
  padding-top: 20px;
}
.good-added .b-basket tr td.b-basket__summ {
  padding-top: 20px;
}
.good-added__elems {
  margin-top: 20px;
  margin-bottom: 27px;
}
.good-added__elems .js-button {
  width: 157px;
  text-align: center;
  height: 41px;
  line-height: 41px;
  font-size: 13px;
}
.good-added__elems a {
  float: left;
}
.good-added__elems a:last-of-type {
  font-size: 13px;
  margin-top: 12px;
  margin-left: 24px;
  color: #878787;
  border-bottom: 1px dotted #878787;
}
.good-added__elems a:last-of-type:hover {
  color: #000;
}
.good-added__elems p {
  float: right;
  color: #878787;
  margin-top: 12px;
}
.delimiter-yellow {
  border: 1px solid #ffdb4a;
  height: 0;
  width: 100%;
}
.good-added .b-accessories__slider {
  height: 221px;
}
.good-added .b-goods__more-like {
  margin-top: 26px;
}
.good-added .b-accessories__slider-button {
  top: 90px;
}
.good-added .b-accessories__slider-button-next {
  right: -17px;
}
.good-added .b-accessories__slider-wrapper li {
  width: 145px;
  height: 196px;
}
.good-added .b-accessories__slider-wrapper li img {
  width: 100%;
  margin-bottom: 10px;
}
.good-added .b-accessories__slider-wrapper li p {
  margin-bottom: 10px;
}
.feedback-create {
  width: 720px;
}
.feedback-create > p {
  font-size: 13px;
  font-weight: bold;
}
.feedback-create .feedback-create-positive,
.feedback-create .feedback-create-negative {
  float: left;
}
.feedback-create .feedback-create-positive p,
.feedback-create .feedback-create-negative p {
  font-size: 13px;
  margin-bottom: 12px;
}
.feedback-create .feedback-create-positive textarea,
.feedback-create .feedback-create-negative textarea {
  resize: none;
  width: 348px;
  height: 94px;
  border: 1px solid #ddd;
}
.feedback-create form > p {
  font-size: 13px;
  margin-top: 30px;
  margin-bottom: 36px;
}
.feedback-create .feedback-create-positive {
  width: 350px;
  margin-right: 20px;
}
.feedback-create .feedback-create-negative {
  width: 350px;
}
.feedback-create .feedback-create-comments {
  margin-top: 22px;
}
.feedback-create .feedback-create-comments p {
  font-size: 13px;
  margin-bottom: 12px;
}
.feedback-create .feedback-create-comments textarea {
  resize: none;
  width: 718px;
  height: 94px;
  border: 1px solid #ddd;
}
.feedback-create > p {
  margin: 0 0 30px;
  font-size: 13px;
}
.feedback-create .feedback-create-personal p {
  font-size: 13px;
  margin-bottom: 12px;
}
.feedback-create .feedback-create-personal input {
  border-color: #ddd;
  outline: none;
  border: none;
  box-shadow: none;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.feedback-create .feedback-create-personal > div {
  float: left;
  width: 278px;
  margin-right: 22px;
}
.feedback-create .feedback-create-personal > div > input {
  width: 278px;
  height: 31px;
  line-height: 31px;
}
.feedback-create .feedback-create-personal > input {
  float: left;
  margin-top: 26px;
  height: 33px;
}
/* b-popup section */
/* b-order section */
/* b-order__created section */
.b-order-create h1 {
  background: url(../img/order-check.png ) left center no-repeat;
  font-size: 21px;
  font-family: "PF Beau Sans Pro Regular";
  padding: 0;
  padding-left: 25px;
}
.b-order-create > p {
  padding-left: 25px;
  font-size: 13px;
  line-height: 26px;
  color: #878787;
  margin-bottom: 24px;
}
.b-order__created {
  width: 100%;
  background: #fff;
  border: 1px solid #e6e6e6;
}
.b-order__created tr {
  padding: 16px 0;
  border-bottom: 1px solid #e6e6e6;
}
.b-order__created tr th,
.b-order__created tr td {
  padding: 16px 0;
  padding-left: 16px;
  border-bottom: 1px solid #e6e6e6;
}
.b-order__created tr th:first-child,
.b-order__created tr td:first-child {
  padding-left: 28px;
  width: 57px;
}
.b-order__created tbody tr:last-child {
  border-bottom: none;
}
.b-order__created tbody tr:last-child th,
.b-order__created tbody tr:last-child td {
  border-bottom: none;
}
.b-order__created-header h2 {
  padding: 0;
  margin: 0;
  line-height: 60px;
  font-size: 21px;
  font-family: "PF Beau Sans Pro Regular";
}
.b-order__created-header h2 span {
  color: #7374a4;
}
.b-order__created-img {
  width: 8%;
}
.b-order__created-img img {
  max-width: 57px;
  max-height: 45px;
  border: 1px solid #e6e6e6;
}
.b-order__created-name {
  width: 66%;
  color: #000;
  padding-left: 16px;
}
.b-order__created-name h4 {
  text-transform: none;
  font-size: 13px;
}
.b-order__created-qty {
  width: 12%;
  color: #878787;
  font-size: 13px;
}
.b-order__created-summ {
  width: 13%;
  font-size: 18px;
  font-weight: bold;
  color: #000;
}
.b-order__user {
  width: 100%;
}
.b-order__user td {
  width: 33%;
}
.b-order__user td:first-child {
  padding-left: 8px;
}
.b-order__delivery h3,
.b-order__delivery-maps h3 {
  font-size: 15px;
  color: #000;
  margin-bottom: 8px;
}
.b-order__delivery p,
.b-order__delivery-maps p {
  font-size: 13px;
  color: #878787;
  line-height: 28px;
}
.b-order__delivery-maps .b-order__delivery-map {
  margin-bottom: 12px;
}
.b-order__delivery-maps h3 {
  font-size: 13px;
}
.b-order__delivery-summary {
  vertical-align: top;
}
.b-order__delivery-summary h3 {
  font-size: 15px;
}
.b-order__delivery-summary span {
  color: #000;
  font-size: 24px;
  font-weight: bold;
}
.b-order__delivery-adress {
  vertical-align: top;
}
.b-order__delivery-adress p {
  color: #878787;
}
.b-order__delivery-adress p > span {
  display: block;
  line-height: 20px;
}
.b-order__user {
  margin-top: 16px;
  margin-bottom: 40px;
  border: 1px solid #e6e6e6;
  background: #fff;
  height: 75px;
}
.b-order__user tr {
  padding: 16px 0;
}
.b-order__user tr td {
  padding: 16px 0;
}
.b-order__user tr td:first-child {
  padding-left: 28px;
}
.b-order__user h3 {
  font-size: 13px;
  color: #878787;
}
.b-order__user p {
  color: #000;
}
.b-order__pay {
  margin-bottom: 80px;
}
.b-order__pay .js-button-beige {
  padding: 0 32px;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  color: #000;
}
.b-order__pay .js-button-yellow {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
}
.b-order__pay > p {
  max-width: 700px;
  line-height: 20px;
  color: #878787;
  font-size: 13px;
  margin-top: 24px;
}
/* b-order__created section */
/* b-order section */
.b-makeorder__tablink,
.b-makeorder__tablinks {
  padding: 55px 36px 0;
  margin-bottom: 24px;
}
.b-makeorder__tablink a:first-child,
.b-makeorder__tablinks a:first-child {
  margin-right: 44px;
}
.b-makeorder__tablink:hover span,
.b-makeorder__tablinks:hover span {
  color: #878787;
}
.b-makeorder__tablink h1,
.b-makeorder__tablinks h1,
.b-makeorder__tablink h2,
.b-makeorder__tablinks h2 {
  display: inline;
  padding: 0;
  margin: 0;
  color: #7374a4;
  cursor: pointer;
  border-bottom: 1px dashed #7374a4;
  font-size: 21px;
}
.b-makeorder__tablink .b-makeorder__currenttab h1,
.b-makeorder__tablinks .b-makeorder__currenttab h1,
.b-makeorder__tablink .b-makeorder__currenttab h2,
.b-makeorder__tablinks .b-makeorder__currenttab h2 {
  font-size: 21px;
  color: #000;
  cursor: default;
  border-bottom: none;
}
.b-makeorder__tabs {
  padding: 0 36px;
}
.b-makeorder__tab,
.b-makeorder__tabs1 {
  display: none;
}
.b-makeorder__tab-current,
.b-makeorder__tabs-current {
  display: block;
}
.b-makeorder__fastorder {
  background: #fff;
  border: 1px solid #ddd;
  width: 100%;
}
.b-makeorder__fastorder tr {
  font-size: 13px;
}
.b-makeorder__fastorder tr:first-child td {
  padding: 26px 0 8px;
  vertical-align: middle;
}
.b-makeorder__fastorder tr:last-child td {
  padding: 8px 0 26px;
  vertical-align: middle;
}
.b-makeorder__fastorder tr td:first-child {
  padding-left: 26px;
  width: 158px;
}
.b-makeorder__fastorder .b-makeorder__fastorder-gray {
  width: 180px;
  height: 31px;
  line-height: 31px;
  color: #000;
  border: 1px solid #ddd;
  padding-left: 8px;
  outline: none;
}
.b-makeorder__fastorder .b-makeorder__fastorder-yellow {
  width: 400px;
  height: 31px;
  line-height: 31px;
  color: #000;
  border: 1px solid #ffdb4a;
  padding-left: 8px;
  padding-right: 30px;
  outline: none;
}
.b-makeorder__fastorder .b-makeorder__fastorder-cross {
  position: relative;
}
.b-makeorder__fastorder .b-cross__holder {
  position: relative;
  width: 438px;
}
.b-makeorder__fastorder .b-makeorder__fastorder-cross-span {
  display: block;
  width: 31px;
  height: 31px;
  position: absolute;
  right: 0;
  top: 0;
  background: url(../img/input-cross.png ) center center no-repeat;
  cursor: pointer;
}
.b-makeorder__fastorder p {
  line-height: 22px;
}
.b-input-holder {
  width: 510px;
}
.b-input-holder input {
  outline: none;
}
.b-makeorder__bottom {
  background: #fff5cf;
  width: 100%;
  border: 1px solid #ddd;
  border-top: none;
}
.b-makeorder__bottom td {
  width: 49%;
  padding: 30px;
  padding-right: 0;
  vertical-align: top;
}
.b-makeorder__bottom td:first-child label {
  display: block;
}
.b-makeorder__bottom td:last-child p {
  font-size: 13px;
  color: #878787;
  margin-bottom: 12px;
}
.b-makeorder__bottom td:last-child p:first-child {
  color: #000;
  font-size: 18px;
  margin-bottom: 0;
}
.b-makeorder__bottom td:last-child span {
  font-size: 36px;
  font-weight: bold;
}
.b-makeorder__bottom .js-button-yellow {
  margin-top: 25px;
  width: 260px;
  height: 60px;
  line-height: 60px;
  font-size: 21px;
  text-align: center;
}
.b-makeorder__order-wrapper {
  width: 100%;
  background: #fff;
  position: relative;
}
.b-makeorder__order-wrapper > div {
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
}
.b-makeorder__order-wrapper > div > div.fl_l {
  width: 50%;
  height: 100%;
}
.b-makeorder__order-wrapper > div > div.fl_l:last-child {
  border-left: none;
}
.b-makeorder__order-wrapper > div > div.fl_l:first-child div:first-child {
  border-right: 1px solid #ddd;
  min-height: 100%;
}
.b-makeorder__order-wrapper > div > div.fl_l:first-child h2 {
  border-bottom: 1px solid #ddd;
  padding: 0;
  margin: 0;
  height: 60px;
  line-height: 60px;
  padding-left: 28px;
  font-family: "PF Beau Sans Pro Regular";
  font-size: 21px;
}
.b-makeorder__order-wrapper > div > div.fl_l:last-child {
  border-right: none;
}
.b-makeorder__order-wrapper > div > div.fl_l .b-order__created-name {
  width: auto;
}
.b-makeorder__order-wrapper > div > div.fl_l .b-order__created tr {
  border-bottom: none;
}
.b-makeorder__order-wrapper > div > div.fl_l .b-order__created tr td {
  border-bottom: none;
}
.b-makeorder__order-wrapper > div > div.fl_l .b-order__created tr td.b-order__created-name {
  color: #878787;
}
.b-makeorder__order-wrapper > div > div.fl_l .b-order__created tr td.b-order__created-name h4 {
  padding-left: 0;
  padding-top: 0;
  font-size: 13px;
  color: #000;
}
.b-makeorder__order-wrapper > div > div.fl_l .b-order__created tr td.b-order__created-name span {
  color: #000;
  font-weight: bold;
}
.b-makeorder__order-wrapper > div > div.fl_l .b-makeorder__order-right-bottom {
  position: absolute;
  bottom: 0;
  width: 50%;
}
.b-makeorder__order-wrapper > div > div.fl_l .b-makeorder__order-right-bottom span {
  color: #000;
  font-size: 18px;
  margin-left: 30px;
}
.b-makeorder__order-wrapper > div > div.fl_l .b-makeorder__order-right-bottom span span {
  font-weight: bold;
}
.b-makeorder__order-wrapper > div > div.fl_l .b-makeorder__order-right-bottom p {
  font-size: 13px;
  color: #878787;
  margin-left: 30px;
  margin-bottom: 6px;
}
.b-makeorder__order-wrapper > div > div.fl_l .b-makeorder__order-right-bottom p:last-of-type {
  margin-bottom: 32px;
}
.b-makeorder__order-wrapper > div > div.fl_l .b-makeorder__order-right-bottom p:first-of-type {
  margin-top: 6px;
}
.b-makeorder__order-wrapper > div > div.fl_l .b-makeorder__order-right-bottom a {
  display: block;
  width: 14px;
  height: 18px;
  position: absolute;
  right: 25px;
  top: 35px;
  background: url(../img/order-remove.png ) left top no-repeat;
}
.b-makeorder__order-wrapper .b-order__created {
  border: none;
}
.b-makeorder__order-wrapper .b-makeorder__order-delivery {
  margin: 16px 0 0;
}
.b-makeorder__order-wrapper .b-makeorder__order-delivery .b-makeorder__tablinks {
  padding: 0;
  margin: 0 28px;
  height: 44px;
  border: 1px solid #ddd;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.b-makeorder__order-wrapper .b-makeorder__order-delivery .b-makeorder__tablinks a {
  border-bottom: 1px dashed #7374a4;
}
.b-makeorder__order-wrapper .b-makeorder__order-delivery .b-makeorder__tablinks a h2 {
  height: 44px!important;
  line-height: 44px!important;
  padding-left: 0!important;
  border-bottom: none!important;
}
.b-makeorder__order-wrapper .b-makeorder__order-delivery .b-makeorder__tablinks a:first-child {
  margin-left: 20px;
}
.b-makeorder__order-wrapper .b-makeorder__order-delivery .b-makeorder__tablinks a.b-makeorder__currenttab {
  border-bottom: none;
}
span.beige {
  display: block;
  width: 630px;
  height: 32px;
  line-height: 32px;
  padding-left: 24px;
  font-size: 13px;
  background: #fff5cf;
  margin-bottom: 20px;
  border-radius: 4px;
}
.b-makeorder__adress {
  padding-bottom: 20px;
  margin: 0 28px 0;
  padding-top: 16px;
  border: 1px solid #ddd;
  border-top: none;
}
.b-makeorder__adress li {
  margin-top: 16px;
  margin-left: 20px;
  font-size: 13px;
  line-height: 33px;
  position: relative;
}
.b-makeorder__adress li:first-child {
  margin-top: 0;
}
.b-makeorder__adress li span:first-child {
  width: 19%;
  display: inline-block;
  margin-left: 1%;
}
.b-makeorder__adress li span:first-child input {
  width: 19%;
}
.b-makeorder__adress li span:last-child {
  width: 19%;
}
.b-makeorder__adress li span:last-child input {
  width: 19%;
}
.b-makeorder__adress li span input {
  height: 31px;
  line-height: 31px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline-color: #e64b4b;
  width: 50%;
  padding: 0 8px;
}
.b-makeorder__adress li span input.b-makeorder__adress-error {
  border-color: #e26a68;
}
.b-makeorder__adress .b-makeorder__adress-data input {
  width: 132px;
}
.b-makeorder__adress-input-holder {
  position: relative;
}
.b-makeorder__adress li span.error-tooltip {
  display: none;
  position: absolute;
  padding: 9px 16px;
  background: #e26a68;
  color: #fff;
  width: auto!important;
  height: 13px;
  font-size: 13px;
  line-height: 13px;
  left: 50%;
  z-index: 1;
  top: -55px;
  border-radius: 3px;
}
.b-makeorder__adress li span.error-tooltip#error-city {
  margin-left: -60px;
}
.b-makeorder__adress li span.error-tooltip#error-adress {
  margin-left: -90px;
}
.b-makeorder__adress li span.error-tooltip#error-data {
  margin-left: -205px;
}
.b-makeorder__adress li span.error-tooltip .error-triangle {
  display: block;
  position: absolute;
  width: 0!important;
  height: 0!important;
  border: 7px solid #e26a68;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-width: 10px;
  bottom: -16px;
  left: 50%;
  margin-left: -7px !important;
}
.b-makeorder__delivery-type {
  padding: 20px;
  color: #878787;
  margin: 0 28px 0;
  border: 1px solid #ddd;
  border-top: none;
}
.b-makeorder__delivery-type li {
  padding: 8px 0;
}
.b-makeorder__services .b-makeorder__delivery-type {
  padding: 0;
  margin: 0;
}
.b-makeorder__services .b-makeorder__delivery-type li {
  padding: 0;
  margin: 0;
}
.yellow-chb {
  position: absolute;
  left: -999999px;
}
.yellow-chb + label {
  line-height: 23px;
  font-size: 13px;
  padding-left: 28px;
  background: url(../img/yellow-chb.png ) 1% center no-repeat;
}
.yellow-chb:checked + label {
  background: url(../img/yellow-chb-checked.png ) 1% center no-repeat;
}
.yellow-radio {
  position: absolute;
  left: -999999px;
}
.yellow-radio + label {
  line-height: 23px;
  font-size: 13px;
  padding-left: 28px;
  background: url(../img/yellow-radio.png ) 1% center no-repeat;
}
.yellow-radio:checked + label {
  background: url(../img/yellow-radio-checked.png ) 1% center no-repeat;
}
.b-makeorder__services {
  margin: 0 28px 20px;
}
.b-makeorder__services > li {
  margin-top: 20px;
  overflow: hidden;
  height: 20px;
}
.b-makeorder__services > li.b-makeorder__services-open {
  height: auto;
}
.b-makeorder__services > li.b-makeorder__services-open > a {
  color: #000;
  border-bottom: 1px dotted #000;
}
.b-makeorder__services > li.b-makeorder__services-open > a:hover {
  color: #000;
}
.b-makeorder__services > li > div {
  padding: 20px;
  padding-right: 0;
}
.b-makeorder__services > li > div .yellow-chb + label {
  background-position: 0% center;
  padding-left: 26px;
  color: #878778;
  display: block;
  margin-bottom: 6px;
}
.b-makeorder__services > li > div .yellow-chb + label input {
  outline: none;
  height: 20px;
  line-height: 20px;
  text-align: center;
  margin: 0 4px;
  width: 33px;
  font-size: 13px;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.b-makeorder__services > li > div textarea {
  display: block;
  width: 100%;
  outline: none;
  height: 90px;
  resize: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px 16px;
  box-sizing: border-box;
}
.b-makeorder__services > li > img {
  margin-left: 5px;
  margin-right: 4px;
}
.b-makeorder__services > li a {
  color: #7374a4;
  border-bottom: 1px dashed #7374a4;
}
.b-makeorder__services > li a:hover {
  color: #7374a4;
}
.b-makeorder__services > li .b-makeorder__delivery-type {
  border: none;
}
.b-makeorder__services > li .b-makeorder__delivery-type li {
  margin-right: 12px;
}
.b-makeorder__services > li .b-makeorder__delivery-type li:first-child label {
  font-size: 13px;
  line-height: 23px;
}
.b-makeorder__summary {
  height: 70px;
  line-height: 70px;
  border-top: 1px solid #ddd;
}
.b-makeorder__summary p {
  display: inline-block;
  padding-left: 28px;
  color: #878787;
  font-size: 13px;
}
.b-makeorder__summary span {
  font-size: 15px;
  font-weight: bold;
}
.b-makeorder__self {
  border-right: none!important;
  margin: 0 28px;
}
.b-makeorder__self .b-makeorder__self-top {
  height: 44px;
  text-align: center;
  font-size: 13px;
  line-height: 44px;
  color: #878787;
  border: 1px solid #ddd!important;
  border-top: none!important;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.b-makeorder__self h4 {
  font-size: 15px;
  text-transform: none;
  padding: 0;
  margin-top: 24px;
  margin-bottom: 16px;
}
.b-makeorder__self .b-makeorder__self-adress {
  padding-bottom: 12px;
}
.b-makeorder__self .b-makeorder__self-adress ul {
  margin-bottom: 30px;
}
.b-makeorder__self .b-makeorder__self-adress li {
  width: 45%;
  margin-right: 5%;
  float: left;
}
.b-makeorder__self .b-makeorder__self-adress li p {
  font-size: 13px;
  color: #000;
  line-height: 22px;
}
.b-makeorder__self .b-makeorder__self-adress li p.muted {
  color: #878787;
  margin-top: 20px;
  padding-top: 0;
  margin-bottom: 20px;
  line-height: 11px;
}
.js-button-white {
  background: #fff;
  border: 1px solid #ddd;
  height: 31px;
  line-height: 31px;
}
.js-button-white:hover {
  color: #878787;
}
.js-button-white span {
  border-bottom: 1px dotted #878787;
}
.b-makeorder__self-comments {
  display: block;
  overflow: hidden;
  height: 20px;
  padding-bottom: 12px;
  margin-top: 50px;
}
.b-makeorder__self-comments a {
  display: inline-block;
  margin-bottom: 16px;
  color: #7374a4;
  border-bottom: 1px dashed #7374a4;
}
.b-makeorder__self-comments img {
  margin-left: 5px;
  margin-right: 4px;
}
.b-makeorder__self-comments.b-makeorder__services-open {
  height: 120px;
}
.b-makeorder__self-comments.b-makeorder__services-open > a {
  color: #000;
  border-bottom: 1px dotted #000;
}
.b-makeorder__self-comments.b-makeorder__services-open > a:hover {
  color: #000;
}
.b-makeorder__self-comments textarea {
  display: block;
  width: 100%;
  outline: none;
  height: 90px;
  resize: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px 16px;
  box-sizing: border-box;
  margin-bottom: 12px;
}
.b-makeorder__bottom-list {
  margin-top: 35px;
  background: #fff;
  border: 1px solid #ddd;
  border-bottom: none;
}
.b-makeorder__bottom-list h4 {
  padding-left: 0;
  text-transform: none;
  font-size: 21px;
  color: #000;
  margin: 20px 0 0 28px;
}
.b-makeorder__bottom-list .b-makeorder__delivery-type {
  padding: 20px 0;
  border: none;
  color: #000;
}
/* datepicker */
#datepicker {
  background: url("../img/calendar.png") 126px 8px no-repeat;
}
#ui-datepicker-div {
  background: #fff;
  padding: 0;
}
#ui-datepicker-div .ui-datepicker-header {
  background: #fff;
  color: #878787;
  border: none;
  border-bottom: 1px solid #ddd;
}
#ui-datepicker-div .ui-datepicker-header .ui-icon-circle-triangle-w {
  background: url(../img/calendar-prev.png ) center center no-repeat;
  border: 1px solid transparent;
}
#ui-datepicker-div .ui-datepicker-header .ui-icon-circle-triangle-e {
  background: url(../img/calendar-next.png ) center center no-repeat;
  border: 1px solid transparent;
}
#ui-datepicker-div .ui-datepicker-header .ui-datepicker-next-hover,
#ui-datepicker-div .ui-datepicker-header .ui-datepicker-prev-hover {
  border: none;
  background: #fff;
  cursor: pointer;
  right: 2px;
  top: 2px;
}
#ui-datepicker-div td > a.ui-state-default {
  color: #878787;
  text-align: center;
  background: #fff;
  border: 1px solid transparent;
}
#ui-datepicker-div td > a.ui-state-default:hover {
  border-color: #ffdb4a;
}
/* datepicker */
/* b-order section */
/* b-order section */
/* popup */
.b-popup p.muted {
  font-weight: normal;
  color: #878787;
}
/* popup */
/* your city */
.your-city-link-holder {
  position: relative;
}
.your-city-link-holder .your-city-dropdown {
  display: none;
  width: 246px;
  height: 112px;
  position: absolute;
  background: url(../img/my_city.png ) left top no-repeat;
  padding: 21px;
}
.your-city-link-holder .your-city-dropdown h2 {
  font-size: 15px;
  font-weight: bold;
  padding: 0 0 14px;
}
.your-city-link-holder .your-city-dropdown span {
  color: #878787;
  font-size: 11px;
  margin-top: 12px;
  display: inline-block;
  line-height: 16px;
}
.your-city-link-holder .your-city-dropdown a:last-of-type {
  margin-left: 12px;
}
.city-list {
  width: 826px;
}
.city-list h2 {
  margin-bottom: 24px;
}
.city-list input[name="city_name"] {
  height: 31px;
  width: 430px;
  line-height: 31px;
  padding-left: 36px;
  background: url(../img/zoom1.png ) 10px center no-repeat;
  border: 1px solid #ddd;
  box-shadow: none;
  outline: none;
}
.city-list .js-button {
  margin-left: 12px;
}
.city-list .abc-holder {
  padding: 24px 0;
}
.city-list .abc-holder a {
  color: #526ea8;
  margin-right: 10px;
}
.city-list .abc-holder a:hover {
  color: #526ea8;
}
.city-list .divider {
  border-bottom: 1px solid #ddd;
  padding: 0 40px;
  margin-left: -40px;
  height: 1px;
  width: 100%;
  margin-bottom: 30px;
}
.city-list .preselected-city li {
  margin-left: 30px;
}
.city-list .preselected-city li:first-child {
  margin-left: 0;
}
.city-list .preselected-city li a {
  color: #000;
  font-size: 15px;
}
.city-list .preselected-city li a:hover {
  color: #000;
}
.city-list .abc-city-list {
  margin-top: 50px;
}
.city-list .abc-city-list li {
  margin-right: 14px;
}
.city-list .abc-city-list li a {
  font-size: 13px;
  line-height: 18px;
  color: #000;
}
.hidden {
  display: none;
}
.catalog-menu-dropdown {
  display: none;
}
.catalog-menu:hover + .catalog-menu-dropdown {
  display: block;
}
/* your city */
/* order status  */
.b-order-status {
  width: 726px;
}
.b-order-status h2 {
  margin-bottom: 24px;
}
.b-order-status .input-holder {
  margin-bottom: 28px;
}
.b-order-status input[name="order_num"] {
  height: 31px;
  width: 415px;
  line-height: 31px;
  padding-left: 12px;
  border: 1px solid #ddd;
  box-shadow: none;
  outline: none;
}
.b-order-status .js-button-yellow {
  width: 110px;
  text-align: center;
  padding: 0;
  margin-left: 16px;
}
.b-order-status p {
  font-size: 13px;
  line-height: 28px;
}
.b-order-status .b-order-statuses {
  width: 716px;
  border: none;
  margin-top: 36px;
  font-size: 13px;
}
.b-order-status .b-order-statuses tr {
  border-top: 1px solid #92a8ba;
  text-align: center;
  vertical-align: middle;
  background: #fff;
  height: 34px;
  line-height: 34px;
}
.b-order-status .b-order-statuses tr.finish {
  color: #79b928;
}
.b-order-status .b-order-statuses tr td:first-child {
  width: 20px;
}
.b-order-status .b-order-statuses tr td:last-child {
  width: 130px;
}
.b-order-status .b-order-statuses tr td img {
  position: relative;
  top: 4px;
}
/* order status  */
/* dropdown menu */
.b-dropright-catalog {
  margin: 0 auto;
  padding: 28px 0 28px 32px;
  display: block;
  left: 100%;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  white-space: normal;
}
.b-dropright-catalog.column2 {
  width: 800px;
  background: url(../img/px.png ) 531px top repeat-y #fff;
}
.b-dropright-catalog.column3 {
  width: 1050px;
  background: url(../img/px.png ) 781px top repeat-y #fff;
}
.b-dropright-catalog > ul {
  width: 250px;
  float: left;
}
.b-dropright-catalog > ul > li {
  display: block;
  line-height: 20px;
  width: 205px;
}
.b-dropright-catalog > ul > li a {
  color: #000;
}
.b-dropright-catalog > ul > li a:hover {
  color: #000;
}
.b-dropright-catalog > ul > li.holder {
  padding: 0;
  line-height: 16px;
  border-bottom: 1px solid #ddd;
}
.b-dropright-catalog > ul > li.holder:last-child {
  border-bottom: none;
}
.b-dropright-catalog > ul > li.holder.last-child {
  border-bottom: none;
}
.b-dropright-catalog > ul > li.holder .header {
  font-weight: bold;
  padding: 13px 0;
}
.b-dropright-catalog > ul > li.holder .header a {
  color: #878787;
}
.b-dropright-catalog > ul > li.holder .header a:hover {
  color: #000;
}
.b-dropright-catalog > ul > li.holder li:not(.header) {
  padding: 10px 0;
}
.b-dropright-catalog > ul > li.holder li:last-child:not(.header) {
  padding-bottom: 13px;
}
.b-dropright-catalog > ul > li.holder li a {
  font-size: 13px;
}
.b-dropright-catalog > ul > li.holder li.all-category a {
  color: #70709f;
  font-size: 11px;
}
.b-dropright-catalog > ul > li.discount ul {
  padding: 14px 22px;
  background: #fafafa;
  margin-top: 12px;
}
.b-dropright-catalog > ul > li.discount ul li {
  font-size: 13px;
}
.b-dropright-catalog > ul > li.discount ul li:first-child {
  margin-bottom: 18px;
}
.b-dropright-catalog > ul.good-of-day {
  display: block;
  padding: 4px 14px;
  width: 232px;
}
.b-dropright-catalog > ul.good-of-day li {
  width: 100%;
}
.b-dropright-catalog > ul.good-of-day li img {
  max-width: 234px;
  max-height: 189px;
  margin-top: 10px;
}
.b-dropright-catalog > ul.good-of-day li .b-top-panel__feedback-stars {
  margin-left: 0;
}
.b-dropright-catalog > ul.good-of-day li .b-top-panel__feedback-stars a {
  color: #878787;
  border-bottom: 1px dashed #878787;
  position: relative;
  top: -2px;
}
.b-dropright-catalog > ul.good-of-day li p {
  margin-top: 20px;
  color: #000;
  font-size: 13px;
  line-height: 18px;
  width: 100%;
  height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.b-dropright-catalog > ul.good-of-day li .price {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  margin-top: 40px;
  margin-bottom: 12px;
}
.b-dropright-catalog > ul.good-of-day li .js-button-white {
  width: 95px;
  text-align: center;
  margin-right: 20px;
  padding: 0;
}
.b-dropright-catalog > ul.good-of-day li .sevenday {
  font-size: 11px;
  color: #666699;
}
.b-dropright-catalog > ul.good-of-day li .js-button-yellow {
  font-weight: bold;
}
/* dropdown menu */
/* b-popup section */
