.b-basket__line {
  height: 46px;
}
.bx_ordercart .bx_ordercart_order_table_container {
  overflow-x: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  border: 1px solid #c9c9c9;
  border-radius: 3px;
  font-size: 14px;
}
#basket_items_list .bx_ordercart_order_table_container {
  border: none;
}
.b-basket__inner-wrapper {
  width: 95%;
  margin: 0 auto;
}
.b-basket {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ddd;
  background: #fff;
}
.bx_ordercart .bx_ordercart_order_table_container table {
  margin: 0;
  padding: 0;
  min-width: 100%;
  border-collapse: collapse;
  transition: all 0.3s ease;
  font-size: 14px;
}
.b-basket thead tr {
  height: 72px;
  line-height: 72px;
  border-bottom: 1px solid #ddd;
}
.b-basket thead tr th {
  text-align: left;
}
.b-basket thead tr th:first-child {
  padding-left: 16px;
}
.b-basket tr td {
  padding-top: 18px;
  border-bottom: 1px solid #ddd;
  vertical-align: top;
  transition: all 0.3s ease;
  font-size: 14px;
}
.b-basket tr td:first-child {
  padding-left: 16px!important;
}
.b-basket h1 {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
}
.b-basket thead p {
  font-size: 11px;
  color: #878787;
}
.b-basket tbody {
  width: 100%;
  transition: all 0.3s ease;
  font-size: 14px;
}
.b-basket tr td.b-basket__img {
  width: 11%;
}
.bx_ordercart .bx_ordercart_order_table_container table td {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
}
.bx_ordercart .bx_ordercart_order_table_container table tbody td {
  padding: 2% 5px;
  border-bottom: 1px solid #e5e5e5;
  vertical-align: top;
}
#basket_form_container .bx_ordercart .bx_ordercart_order_table_container table td {
  white-space: normal;
}
.b-basket tr td.b-basket__name {
  width: 53%;
}
.b-basket tr td.b-basket__name h4 {
  margin: 0;
  padding: 0;
  line-height: 20px;
  text-transform: none;
  font-weight: normal;
  font-size: 15px;
  color: #000;
  margin-bottom: 15px;
}
.b-basket tr td.b-basket__name h4 > a {
  color: #000;
}
.b-basket tr td.b-basket__name p {
  color: #878787;
  line-height: 18px;
  font-size: 13px;
  width: 95%;
  white-space: normal;
  max-height: 36px;
  overflow: hidden;
}
.b-basket tr td.b-basket__name p img {
  margin-left: 4px;
}
.b-basket .b-basket__name-artikul {
  margin-top: 40px;
}
.b-basket .b-basket__name-artikul > span {
  font-size: 11px;
  font-weight: bold;
  color: #000;
}
.b-basket .b-basket__name-artikul > span {
  font-size: 11px;
  font-weight: bold;
  color: #000;
}
.b-basket tr td.b-basket__price {
  width: 9%;
}
.b-basket tr td.b-basket__price span {
  font-size: 15px;
  line-height: 33px;
}
.b-basket tr td.b-basket__qty {
  width: 13%;
}
.b-basket tr td.b-basket__qty .js-digital-spinner {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}
.b-basket tr td.b-basket__qty .js-digital-spinner-up, .b-basket tr td.b-basket__qty .js-digital-spinner-down {
  background: none;
  position: relative;
  display: inline-block;
  height: 33px;
  width: 33px;
  text-align: center;
  border-radius: 3px;
  color: #878787;
  line-height: 33px;
}
.b-basket tr td.b-basket__qty .js-digital-spinner-down {
  top: 0;
  border: 1px solid #ddd;
}
.b-basket tr td.b-basket__qty .js-digital-spinner input {
  height: 33px;
  width: 40px;
  line-height: 33px;
  border-radius: 3px;
  border-right: 1px solid #ddd;
  max-width: 50px;
}
.b-basket tr td.b-basket__qty .js-digital-spinner-up, .b-basket tr td.b-basket__qty .js-digital-spinner-down {
  background: none;
  position: relative;
  display: inline-block;
  height: 33px;
  width: 33px;
  text-align: center;
  border-radius: 3px;
  color: #878787;
  line-height: 33px;
}
.b-basket tr td.b-basket__summ {
  width: 15%;
  text-align: center;
}
.b-basket tr td.b-basket__summ > span {
  font-size: 18px;
  line-height: 33px;
  font-weight: bold;
}
.b-basket tr td.b-basket__summ .b-basket__summ-more {
  margin-bottom: 30px;
}
.b-basket tr td.b-basket__summ .b-basket__summ-more span {
  font-size: 11px;
  color: #878787;
  line-height: 18px;
}
.b-basket tr td.b-basket__summ .b-basket__summ-remove a {
  padding-left: 14px;
  background: url(../img/cross10.png) left center no-repeat;
  //text-decoration: dotted;
  font-size: 11px;
}
.b-basket tr td.b-basket__summ .b-basket__summ-remove a span {
  border-bottom: 1px dotted #878787;
}
.b-basket tr td.b-basket__img {
  width: 11%;
}
.b-basket .b-basket__summary {
  height: 108px;
  line-height: 108px;
}
.b-basket .b-basket__summary .b-basket__summary-summary {
  font-size: 21px;
}
.bx_ordercart .bx_ordercart_order_table_container table tbody tr:last-child td {
  border-bottom: none;
}
.b-basket .b-basket__summary .b-basket__summary-order .js-button-yellow {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  padding: 0 26px;
  float: right;
  margin-top: 32px;
  margin-right: 18px;
  width: 130px;
  text-align: center;
}
#basket-fast-order .js-button-yellow {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  margin-right: 50px;
  width: 115px;
}
.basket-fo-input {
  float: right;
  margin-top: 32px;
  height: 42px;
  background: none;
  border: 1px solid #ddd;
  margin-right: 15px;
  width: 180px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0 12px;
  font-size: 15px;
}
.b-basket-post-info {
  font-size: 13px;
  color: #878787;
  margin-top: 32px;
  margin-bottom: 68px;
}
