/*buttons*/
.btn {
  display: inline-block;
  padding: 5px 20px;
  height: 15px;
  line-height: 15px;
  margin-bottom: 0;
  font-size: 13px;
  color: #303030;
  font-weight: bold;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 3px;
  white-space: nowrap;
  user-select: none;
  text-transform: none;
  -webkit-appearance: none;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
}

.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none;
}

.btn-y {
  color: #ffffff;
  background-color: @main_color;
  border-bottom: #d9d9d9;
}
.btn-28{
  height: 28px;
  padding: 0 18px;
  line-height: 28px;
  font-weight: normal;
}

.btn-y:active, .btn-y.active {
  background-image: none;
}

.btn-y.disabled,
.btn-y[disabled],
fieldset[disabled] .btn-y,
.btn-y.disabled:hover,
.btn-y[disabled]:hover,
fieldset[disabled]
.btn-y:hover,
.btn-y.disabled:focus,
.btn-y[disabled]:focus,
fieldset[disabled] .btn-y:focus,
.btn-y.disabled:active,
.btn-y[disabled]:active,
fieldset[disabled] .btn-y:active,
.btn-y.disabled.active,
.btn-y[disabled].active,
fieldset[disabled] .btn-y.active {
  //background-color: #a5a5a5;
  background: #ff9000;
  border-color: #8d8d8d;
  color: #fff;
}
.ico {
  background: url("../img/ico-sprite.png") no-repeat;
  width: 16px;
  height: 15px;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}
.add-to-compare {
  position: absolute;
  right: 4px;
  top: 8px;
  width: 30px;
  padding: 0;
  border: none;
  box-shadow: none;
}
.add-to-favorites {
  position: absolute;
  right: 32px;
  top: 9px;
  width: 30px;
  padding: 0;
  border: none;
}
