.b-input__error {
  border-color: #ff0000;
}

.yellow-chb {
  position: absolute;
  left: -999999px;
}

.yellow-chb + label {
  line-height: 23px;
  font-size: 13px;
  padding-left: 28px;
  position: relative;
  //background: url(../img/yellow-chb.png) 1% center no-repeat;
}
.yellow-chb + label:before{
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  overflow: hidden;
  background: url(../img/forms/checkbox.png) 0 0 no-repeat;
  content:"";
}

.yellow-chb:checked + label {
  //background: url(../img/yellow-chb-checked.png) 1% center no-repeat;
  position: relative;
}

.yellow-chb:checked + label:before{
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  overflow: hidden;
  background: url(../img/forms/checkbox.png) 0 15px no-repeat;
  content:"";
}

.color-chb.yellow-chb {
  position: absolute;
  left: -999999px;
}

.color-chb.yellow-chb + label, .material-chb + label {
  line-height: 23px;
  font-size: 13px;
  padding-left: 28px;
  background: transparent no-repeat;
  position: relative;
  display: block;
}

.bx_filter .bx_filter_input_checkbox .bx_filter_param_text.color-chb-span, .bx_filter .bx_filter_input_checkbox .bx_filter_param_text.material-chb-span {
  margin-left: 0;
  overflow: hidden;
  white-space: nowrap;
}

.color-chb.yellow-chb + label > .color-chb, .material-chb.yellow-chb + label > .material-chb {
  position: absolute;
  left: 0;
  top: 0;
  background: none;
  display: inline-block;
  width: 17px;
  height: 17px;
  overflow: hidden;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.material-chb.yellow-chb + label > .material-chb {
  background: url(../img/forms/blank.gif) 0 0 no-repeat;
}

.color-chb.yellow-chb + label > .color-chb > img {
  display: none;
  margin-left: 2px;
  margin-top: 1px;
}

.color-chb.yellow-chb:checked + label > .color-chb:before, .material-chb.yellow-chb:checked + label > .material-chb:before {
  display: block;
  width: 17px;
  height: 17px;
  content: "";
  background: url(../img/forms/color-check.png) center center no-repeat @main_color_2;
}

.color-chb.yellow-chb:checked + label > .color-chb > img, .material-chb.yellow-chb:checked + label > .material-chb > img {
  display: block;
  background: url(../img/forms/color-check.png ) left top no-repeat;
}

.yellow-chb:hover + label > .color-chb, .yellow-chb:hover + label > .material-chb {
  box-shadow: 0 0 3px 1px rgba(255, 219, 74, 1);
}

.material-chb.yellow-chb {
  position: absolute;
  left: -999999px;
}

.material-chb.yellow-chb + label {
  line-height: 23px;
  font-size: 13px;
  padding-left: 28px;
  //background: url(../img/access-check.png) left top no-repeat;
  position: relative;
}

.material-chb.yellow-chb + label:before{
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  overflow: hidden;
  background: url(../img/forms/checkbox.png) 0 0 no-repeat;
  content:"";
}

.material-chb.yellow-chb + label > span {
  margin-left: 0 !important;
  padding: 0 !important;
}

.filters-link {
  display: inline-block;
  font-size: 11px;
  margin-bottom: 14px;
  border-bottom: 1px dotted #878787;
  color: #878787;
}

.material-chb.yellow-chb:checked + label:before {
  background: url(../img/forms/checkbox.png) -15px 0 no-repeat;
}

.yellow-radio {
  position: absolute;
  left: -999999px;
}

.yellow-radio + label {
  line-height: 23px;
  font-size: 13px;
  padding-left: 28px;
  cursor: pointer;
  position: relative;

}

.yellow-radio + label:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background: #fff none repeat scroll 0 0;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  box-shadow: 0 1px 1px rgba(229, 229, 229, 0.75) inset;
  box-sizing: content-box;
  color: #fff;
  font-size: 10px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  width: 14px;
}

.yellow-radio + label:hover:before {
  border-color: #ccc;
  box-shadow: 0 1px 1px rgba(204, 204, 204, 0.75) inset, 0 0 8px @main_color_2;
}

.yellow-radio:disabled + label:hover:before {
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 1px rgba(229, 229, 229, 0.75) inset;
}

.yellow-radio:disabled + label {
  opacity: .5;
  cursor: default;
}

.yellow-radio:checked + label:before {
  background: @main_color_2;
  border: 1px solid @main_color_2;
}

.yellow-radio:checked + label:after {
  background: #fff none repeat scroll 0 0;
  border: 3px solid #fff;
  border-radius: 3px;
  content: "";
  display: block;
  font-size: 0;
  height: 0;
  left: 5px;
  position: absolute;
  top: 5px;
  width: 0;
}