.g-left{
  float:left;
}
.g-right{
  float:right;
}
.g-clear{
  clear:both;
}
/* columns */

.g-col-1{
  width: 100%;
}
.g-col-2{
  width: 50%;
}
.g-col-3{
  width: 33.333333%;
}
.g-col-4{
  width: 25%;
}
.g-col-5{
  width: 20%;
}
/* columns */
.g-muted{
  color: #909090;
}
div.g-nomargin{
  margin: 0;
}