.b-goods__header {
  padding: 0;
  margin: 20px 0 10px;
  font-size: 36px;
  font-weight: normal;
  text-align: left;
}
.b-goods__header-bottom--item {
  list-style-type: disc;
  float: left;
  font-family: Arial, Tahoma, Verdana, sans-serif;
  font-size: 13px;
  color: #878787;
  white-space: nowrap;
  margin-right: 26px;
}
.b-goods__header-bottom--item:first-child {
  list-style-type: none;
}
.b-goods__info-top-panel {
  height: 46px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  background: #fafafa;
  margin-top: 30px;
}
.b-top-panel li {
  float: left;
  margin-right: 4px;
  font-size: 11px;
  color: #878787;
  line-height: 46px;
}
.b-top-panel .b-top-panel__art {
  font-size: 13px;
  color: #000;
  margin-left: 18px;
  margin-right: 32px;
  line-height: 48px;
}
.b-top-panel li.b-top-panel__feedback {
  margin-right: 20px;
}
li.b-top-panel__bestby, li.b-top-panel__action {
  background: #6aa8d8;
  border-radius: 2px;
  height: 20px;
  line-height: 20px;
  position: relative;
  top: 13px;
  padding: 0 6px;
  color: #fff;
  a{
    color: #fff;
  }
}
.b-top-panel li:last-child {
  float: right;
  margin-right: 18px;
}
.b-goods__good {
  position: relative;
  margin-top: 36px;
  min-height: 400px;
}
.b-goods__good-inner{
  padding-right: 360px;
}
.b-goods__good-photo {
  width: 48%;
  /* max-width: 440px; */
  margin-right: 2%;
  float: left;
}
.b-goods__good-photo-zoom {
  position: absolute;
  width: 49px;
  height: 49px;
  left: 0;
  top: 0;
  z-index: 15000;
  background: url(../img/zoom.png) left top no-repeat;
}
.b-goods__good-photo-main {
  position: relative;
  margin-bottom: 12px;
}
.catalog-img-new {
  display: block;
  max-height: 100%;
  margin: auto;
  max-width: 100%;
}
.b-goods__good-photo-main img {
  width: 100%;
}
.b-goods__good-photo-thumbs li {
  float: left;
  margin-right: 5px;
  border: 1px solid transparent;
  width: 71px;
  height: 71px;
}
.b-goods__good-photo-thumbs li.b-goods__good-photo-thumbs-current {
  border-color: #6aa8d8;
}
.b-goods__good-photo-thumbs li img {
  max-width: 71px;
  max-height: 71px;
  margin: 0 auto;
  vertical-align: middle;
}
.b-goods__good-info {
  float: left;
  width: 48%;
}
.b-goods__good-info .b-goods__good-info-description {
  margin-bottom: 30px;
}
.b-colors__table_tdata-scrollable, .b-goods__good-info-description-scrollable {
  max-height: 288px;
  overflow: auto;
}
.b-goods__good-info .b-goods__good-info-description-scrollable {
  max-height: 290px;
  line-height: 18px;
  overflow: auto;
  margin-bottom: 15px;
  outline: 0 none;
}
.b-goods__good-more, .b-goods__good-more-about{
  padding: 20px;
  padding-bottom: 0;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 355px;
  box-sizing: border-box;
}
.b-goods__good-more-about {
  padding: 0;
  //position: absolute;
  //right: 0;
  //top: 0;
  float: right;
  border: none;
  border-radius: 0;
}
.b-goods__good-more-price {
  margin-bottom: 22px;
}
.b-goods__good-more-price span {
  font-size: 30px;
  color: #000;
}
.b-goods__good-more-price span.muted {
  font-size: 20px;
  color: #878787;
  margin-left: 12px;
}
.b-goods__good-more-price-ico {
  float: right;
  width: 16px;
  height: 15px;
  margin-left: 8px;
  margin-top: 11px;
}
.b-goods__good-more-price-ico3 {
  background: url(../img/ico3.png) left top no-repeat;
}
.soc_bloc {
  position: absolute;
  margin-top: 30px;
  z-index: 999;
  margin-left: -325px;
  visibility: hidden;
  opacity: 0;
  clear: both;
  float: right;
  padding: 0;
  width: 359px;
  background: #fff;
  margin-right: -21px;
  height: 44px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 22px;
  transition: all .3s ease-out .1s;
}
.soc_icon {
  margin-left: 15px;
  margin-top: 17px;
  display: inline-block;
  float: left;
  background-image: url('../img/socicon.png');
  height: 15px;
  width: 15px;
  margin-right: 5px;
}
.soc {
  margin: 10px;
  font-size: 13px !important;
}
.b-share {
  font: 86%/1.4545em Arial,sans-serif;
  display: inline-block;
  padding: 1px 3px 1px 4px!important;
  vertical-align: middle;
}
.b-goods__good-more-price span {
  font-size: 30px;
  color: #000;
}
.b-share__handle {
  float: left;
  height: 16px;
  padding: 5px 3px 5px 2px!important;
  cursor: pointer;
  text-align: left;
  text-decoration: none!important;
}
.b-share__text {
  margin-right: 20px !important;
  font-size: 13px !important;
  position: relative;
  top: -20px;
  color: #878787!important;
}
.b-share-icon {
  float: left;
  display: inline;
  overflow: hidden;
  width: 16px;
  height: 16px;
  padding: 0!important;
  vertical-align: top;
  border: 0;
  background: url("//yastatic.net/share/static/b-share-icon.png") 0 99px no-repeat;
}
.b-share-icon_vkontakte, .b-share-icon_custom {
  background-position: 0 0;
}
.b-share-icon_facebook {
  background-position: 0 -68px;
}
.b-share-icon_twitter {
  background-position: 0 -51px;
}
.b-share-icon_moimir {
  background-position: 0 -85px;
}
.b-share-icon_odnoklassniki {
  background-position: 0 -170px;
}
.b-share-icon_gplus {
  background-position: 0 -426px;
}
.b-share-icon_lj {
  background-position: 0 -34px;
}
.mail_icon {
  clear: both;
  margin-left: 15px;
  display: inline-block;
  float: left;
  background-image: url('../img/convert.png');
  height: 15px;
  width: 15px;
  margin-right: 5px;
}

.bsharetext {
  color: #878787!important;
  width: 180px;
  display: inline-block;
  margin-left: 25px;
  margin-right: 20px !important;
  font-size: 13px !important;
}
.print_icon {
  clear: both;
  margin-left: 15px;
  margin-top: 17px;
  display: inline-block;
  float: left;
  background-image: url('../img/print.png');
  height: 15px;
  width: 15px;
  margin-right: 5px;
}
.b-goods__good-more-price-ico {
  float: right;
  width: 16px;
  height: 15px;
  margin-left: 8px;
  margin-top: 11px;
}
.b-goods__good-more-price-ico1 {
  background: url("../img/ico-sprite.png") -17px top no-repeat;
}
.b-goods__good-more-price-ico2 {
  background: url("../img/ico-sprite.png") 0 0 no-repeat;
}
.b-goods__good-more-price-ico1.add-to-favorites {
  position: static;
}
.b-goods__more-like {
  margin-top: 36px;
}
.b-goods__more-like h3 {
  margin-bottom: 18px;
}
.b-goods__more-like-slider {
  position: relative;
  overflow: hidden;
}
.b-goods__more-like > a {
  border-bottom: 1px dotted #ddd;
  margin-top: 12px;
  display: inline-block;
}
.b-goods__more-like-slider > ul {
  display: block;
  width: 99999px;
}
.b-goods__more-like-slider li {
  position: relative;
  float: left;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 16px 18px;
  padding-left: 120px;
  width: 201px;
  margin: 0 9px;
}
.b-goods__more-like-slider li > a, .b-goods__more-like-slider li > div > a{
  width: 90px;
  height: 90px;
  display: block;
  position: absolute;
  left: 18px;
  top: 16px;
}
.b-goods__more-like-slider li p {
  height: 32px;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.b-goods__more-like-slider li p:last-child {
  font-size: 18px;
  margin-top: 24px;
}
.product-small-slider-img{
  width: 90px;
  height: 90px;
  display: block;
  position: absolute;
  left: 18px;
  top: 16px;
}

.b-makeorder__tablink, .b-makeorder__tablink_1, .b-makeorder__tablinks, .b-makeorder__tablinks_2 {
  padding: 55px 36px 0;
  margin-bottom: 24px;
}
.b-makeorder__order-wrapper .b-makeorder__order-delivery .b-makeorder__tablinks, .b-makeorder__tablinks_2 {
  padding: 0;
  margin: 0 28px;
  height: 44px;
  border: 1px solid #ddd;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.b-goods__good-more-delivery .b-makeorder__tablinks, .b-goods__good-more-delivery .b-makeorder__tablinks_2 {
  margin: 0;
  padding: 0 14px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #ddd;
  height: 36px;
  line-height: 36px;
}
.b-goods__good-more-delivery .b-makeorder__tablinks a, .b-goods__good-more-delivery .b-makeorder__tablinks_2 a {
  color: #666699;
  border-bottom: 1px dashed #666699;
  font-size: 13px;
  cursor: pointer;
  margin-right: 48px;
}
.b-makeorder__tablink a:first-child, .b-makeorder__tablink_1 a:first-child, .b-makeorder__tablinks a:first-child, .b-makeorder__tablinks_2 a:first-child {
  margin-right: 44px;
}
.b-makeorder__tabs {
  padding: 0 36px;
}
.b-goods__good-more-delivery .b-makeorder__tabs {
  padding: 14px;
  padding-right: 0;
  border: 1px solid #ddd;
  border-top: none;
  display: none;
}
.b-goods__good-more-delivery .b-makeorder__tabs.b-makeorder__tabs-delivery > p {
  font-size: 11px;
  color: #878787;
}
.b-goods__good-more-delivery .b-makeorder__tabs.b-makeorder__tabs-delivery > p > a {
  color: #666699;
  font-size: 11px;
}
.b-goods__good-more-delivery .b-makeorder__tabs.b-makeorder__tabs-delivery li p span {
  font-size: 11px;
  color: #878787;
}
.b-goods__good-more-delivery .b-makeorder__tabs > a {
  font-size: 11px;
  color: #878787;
  border-bottom: 1px dotted #878787;
  margin-top: 12px;
  display: inline-block;
  line-height: 16px;
}
.b-goods__good-more-delivery .b-makeorder__tabs > h4 {
  font-size: 12px;
  font-weight: bold;
  text-transform: none;
}
.b-goods__good-more-delivery .b-makeorder__tabs.b-makeorder__tabs-pay li, .b-goods__good-more-delivery .b-makeorder__tabs.b-makeorder__tabs-warranty li {
  font-size: 11px;
  color: #878787;
}
.b-goods__good-more-delivery .b-makeorder__tabs.b-makeorder__tabs-current {
  display: block;
}
.b-goods__good-more-delivery {
  background: #fff;
  margin-bottom: 18px;
  line-height: 20px;
}
.delimiter {
  width: 355px;
  position: relative;
  left: -20px;
  border-bottom: 1px solid #ddd;
}
.b-goods__good-more-discount, .b-goods__good-more-colors, .b-goods__good-more-credit {
  padding-left: 64px;
  position: relative;
  height: 50px;
  padding-top: 12px;
}
.b-goods__good-more-discount > img, .b-goods__good-more-colors > img, .b-goods__good-more-credit > img {
  position: absolute;
  left: 10px;
  top: 15px;
}
.b-goods__good-more-discount > a, .b-goods__good-more-colors > a, .b-goods__good-more-credit > a {
  font-size: 13px;
  color: #000;
  text-decoration: underline;
}
.b-goods__good-more-delivery .b-makeorder__tablinks a:last-child, .b-goods__good-more-delivery .b-makeorder__tablinks_2 a:last-child {
  margin-right: 0;
}
.b-goods__good-more-delivery .b-makeorder__tablinks a.b-makeorder__currenttab, .b-goods__good-more-delivery .b-makeorder__tablinks_2 a.b-makeorder__currenttab {
  border: none;
  cursor: default;
  color: #000;
}
.b-goods__good-more-discount > p, .b-goods__good-more-colors > p, .b-goods__good-more-credit > p {
  font-size: 11px;
  color: #878787;
  margin-top: 8px;
}
.b-goods__more-like {
  margin-top: 36px;
}
.b-goods__more-like h3 {
  margin-bottom: 18px;
}
.b-goods__more-like-slider {
  position: relative;
  overflow: hidden;
}
.b-goods__more-like > a {
  border-bottom: 1px dotted #ddd;
  margin-top: 12px;
  display: inline-block;
}
.b-goods__more-like-slider > ul {
  display: block;
  width: 99999px;
}
.b-goods__more-like-slider > a {
  position: absolute;
  top: 48px;
  width: 26px;
  height: 26px;
}
.b-goods__more-like-slider > a.b-goods__more-like-slider-button-prev {
  background: url(../img/slider-prev.png) left top no-repeat;
  left: 1px;
}
.b-goods__more-like-slider > a.b-goods__more-like-slider-button-next {
  background: url(../img/slider-next.png) left top no-repeat;
  right: 0;
}
.b-params {
  position: relative;
  margin-bottom: 50px;
  height: 647px;
}
.b-params-tabs-link {
  display: inline-block;
  margin-right: 3px;
  height: 46px;
  line-height: 46px;
  border: 1px solid #ddd;
  border-bottom: none;
  color: #000;
  padding: 0 40px 0 55px;
  position: relative;
  cursor: pointer;
  background: #fafafa;
}
.b-params-tabs-link > img {
  position: absolute;
  left: 19px;
  top: 14px;
}
.b-params-tabs-link-current {
  cursor: default;
  background: #fff;
  padding-bottom: 2px;
  z-index: 2;
}
.b-params__tabs-tab {
  z-index: -1;
  visibility: hidden;
  border: 1px solid #ddd;
  position: absolute;
  left: 0;
  top: 48px;
  min-height: 597px;
  max-height: 600px;
  min-width: 100%;
  overflow: hidden;
  overflow-y: auto;
  outline: 0 none;
}
.b-params__tabs-tab-padd {
  padding: 40px 24px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
}
.b-params__tabs-tab-current {
  z-index: 1;
  visibility: visible;
}
.b-discount {
  margin-top: 40px;
}
.b-yousaw{
  position: relative;
}
.b-accessories__slider{
  position: relative;
}
.b-accessories__slider-container {
  height: 297px;
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  position: relative;
}
.b-accessories__header-bottom li {
  float: left;
  margin-right: 24px;
  height: 30px;
}
.b-accessories__header-bottom li:first-child {
  margin-left: 0;
}
.b-accessories__header-bottom li.b-accessories__header-bottom-current {
  height: 28px;
  line-height: 28px;
  font-size: 13px;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 0 10px;
  background: #e5f0ff;
}
.b-accessories__header-bottom li a {
  border-bottom: 1px dotted #666699;
  font-size: 13px;
  position: relative;
  top: 6px;
  color: #666699;
}
.b-accessories__header-bottom li.b-accessories__header-bottom-current a {
  top: 0;
  border-bottom: none;
  color: #000;
  cursor: default;
}
.b-accessories .b-accessories__slider-container {
  width: auto;
  height: 313px;
}
.b-accessories__slider-container.display-block {
  display: block;
}
.b-accessories__slider-wrapper {
  height: 100%;
  overflow: hidden !important;
  padding-right: 178px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.b-accessories__slider-button {
  position: absolute;
  top: 105px;
  width: 45px;
  height: 45px;
  cursor: pointer;
  z-index: 2;
}
.b-accessories__slider-button-prev {
  background: url(../img/slider-prev-big.png);
  left: -24px;
}
.b-accessories__slider-button-next {
  background: url(../img/slider-next-big.png);
  right: 165px;
}
.b-accessories__slider-button {
  display: none;
}
.b-accessories__slider-wrapper > ul {
  width: 99999px;
}
.deactivate .b-accessories__slider-wrapper > ul {
  width: auto;
}
.b-accessories__slider-wrapper li {
  width: 185px;
  border-right: 1px solid #ddd;
  padding: 14px 11px;
  float: left;
  min-height: 221px;
}
.b-accessories__slider-wrapper li:last-child {
  border: none;
}
.b-accessories .b-accessories__slider-wrapper>ul>li>a {
  display: block;
}
.b-accessories__slider_img {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}
.b-accessories_element_img {
  display: block;
  width: 183px;
  height: 130px;
}
.b-accessories__slider-wrapper li p {
  height: 38px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 30px;
}
.b-accessories__slider-wrapper li p {
  padding-top: 21px;
  display: block;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.b-accessories__slider-wrapper li .b-product__price {
  margin: 0px 0px 18px 0px;
  position: relative;
}
.b-accessories__slider-wrapper li .b-product__price span, .b-colors__price span {
  font-size: 18px;
  font-weight: bold;
}
.b-accessories__slider-wrapper li .b-product__price span.old-price, .b-colors__price span.old-price {
  color: #878787;
  font-size: 13px;
  font-weight: normal;
  margin-left: 11px;
  text-decoration: line-through;
}
.b-accessories__slider-wrapper li .b-product__price span.old-price {
  position: absolute;
  left: 75px;
  top: 4px;
}
.b-feedbacks {
  margin: 25px 0 50px 0;
}
.b-feedbacks h2 {
  padding-bottom: 26px;
}
.b-feedbacs__main {
  padding-right: 180px;
  position: relative;
}
.b-feedbacs__sortby span {
  margin-right: 34px;
}
.b-feedbacs__sortby a {
  margin-right: 30px;
  border-bottom: 1px dotted #878787;
}
.js-button {
  display: inline-block;
  height: 30px;
  padding: 0 12px;
  line-height: 30px;
  background: transparent;
  border-radius: 3px;
  font-size: 13px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
}
.js-button-gray {
  background: #fff;
  border: 1px solid #ccc;
  color: #000;
}
.b-feedbacs__sortby-current {
  cursor: default;
}
.b-feedbacks__feedbacks-feedback {
  //padding-right: 180px;
  min-height: 320px;
}
#coments-main-block {
  margin-top: 30px;
}
.b-feedbacks__feedbacks-feedback li {
  padding-left: 190px;
  position: relative;
  margin-bottom: 50px;
}
.b-feedbacks__feedbacks-feedback li .b-feedbacks__feedback-info {
  position: absolute;
  left: 0;
  top: 0;
}
.b-top-panel__feedback-stars {
  position: relative;
  top: 2px;
  margin: 0 12px;
}
.b-top-panel__feedback-star {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 1px;
}
.b-top-panel__feedback-star-gold {
  background: url(../img/goldstar.png );
}
.b-feedbacks__feedbacks-feedback li .b-feedbacks__feedback-info .b-top-panel__feedback-star {
  margin-right: 0;
}
.b-top-panel__feedback-star:last-child {
  margin-right: 0;
}
.b-feedbacks__feedback-info h4 {
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-transform: none;
  padding: 14px 0 10px;
}
.b-feedbacks__feedback-info > p {
  font-size: 11px;
  text-decoration: none;
  margin-top: 0;
  color: #878787;
}
.b-feedbacks__feedbacks-feedback li .b-feedbacks__feedback-text p.b-feedbacks__feedback-text-main, .b-feedbacks__feedbacks-feedback li .b-feedbacks__feedback-text p.b-feedbacks__feedback-text-plus, .b-feedbacks__feedbacks-feedback li .b-feedbacks__feedback-text p.b-feedbacks__feedback-text-minus {
  position: relative;
  padding-left: 24px;
  max-width: 820px;
  margin-bottom: 24px;
  font-size: 13px;
}
.b-feedbacks__feedbacks-feedback li .b-feedbacks__feedback-text p.b-feedbacks__feedback-text-main {
  background: url(../img/feedback-larr.png) top left no-repeat;
}
.b-feedbacks__feedbacks-feedback li .b-feedbacks__feedback-text p.b-feedbacks__feedback-text-plus {
  background: url(../img/feedback-plus.png) top left no-repeat;
}
.b-feedbacks__feedbacks-feedback li .b-feedbacks__feedback-text p.b-feedbacks__feedback-text-minus {
  background: url(../img/feedback-minus.png) top left no-repeat;
}
.b-feedbacks__right {
  width: 180px;
  position: absolute;
  right: 0;
  top: 0;
}
.js-button-yellow {
  background: #ffdb4a;
  height: 31px;
  padding: 0 20px;
  border: 1px solid #e9c430;
  line-height: 31px;
  color: #000;
}
.b-feedbacks__right .js-button-yellow {
  width: 148px;
  text-align: center;
  padding: 0;
}
.b-feedbacks__right h4 {
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-transform: none;
  padding: 26px 0 14px;
}
.b-top-panel__feedback-stars-big {
  margin-left: 0;
  margin-bottom: 12px;
}
.b-top-panel__feedback-star-gold-big {
  background: url(../img/goldstar-24.png );
}
.b-top-panel__feedback-stars-big .b-top-panel__feedback-star {
  width: 24px;
  height: 24px;
  margin-right: 2px;
}
.b-feedbacks__right > p {
  font-size: 11px;
  text-decoration: underline;
  margin-top: 12px;
}
.b-goods__good-more-buy > a {
  float: left;
  height: 33px;
  padding: 0 20px;
  line-height: 33px;
  font-weight: normal;
}
.js-digital-spinner {
  width: 38px;
  height: 33px;
  margin-left: 11px;
  position: relative;
}
.b-goods__good-more-buy > div:not(.clear) {
  float: left;
}
.js-digital-spinner input {
  width: 24px;
  height: 31px;
  border: 1px solid #ddd;
  border-right: none;
  line-height: 31px;
  font-size: 13px;
  outline: none;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.js-digital-spinner span {
  position: absolute;
  right: 0;
  border: 1px solid #ddd;
  width: 13px;
  height: 15px;
  cursor: pointer;
}
.js-digital-spinner span.js-digital-spinner-up {
  top: 0;
  background: url(../img/spinner-up.png) center center no-repeat;
  border-top-right-radius: 4px;
}
.js-digital-spinner span.js-digital-spinner-down {
  top: 17px;
  border-top: none;
  background: url(../img/spinner-down.png) center center no-repeat;
  border-bottom-right-radius: 4px;
}
.b-goods__good-more-oneclick {
  width: 170px;
  margin-bottom: 18px;
}

.b-goods__good-more-oneclick > p {
  text-align: center;
  font-size: 11px;
  color: #878787;
  height: 12px;
  line-height: 12px;
}
.b-goods__good-more-oneclick > div {
  margin-left: 10px;
  color: #878787;
}
.b-goods__good-more-oneclick input {
  width: 100px;
  height: 18px;
  border: 1px solid #ddd;
  margin-left: 5px;
  position: relative;
  top: 1px;
  outline: none;
}
.b-goods__good-more-oneclick .js-button-small {
  border-radius: 3px;
  height: 18px;
  padding: 0 6px;
  line-height: 18px;
  margin-left: 3px;
  font-size: 11px;
  border: 1px solid #6aa8d8;
}
.b-goods__good-more-oneclick .js-button {
  border: 1px solid #ddd;
  border-radius: 3px;
  height: 18px;
  padding: 0 6px;
  line-height: 18px;
  margin-left: 3px;
  font-size: 11px;
}
.b-top-panel__warranty img {
  position: relative;
  top: 7px;
}
.b-top-panel__warranty span {
  position: relative;
  bottom: 4px;
  margin-left: 6px;
}
.soc_bloc {
  position: absolute;
  margin-top: 30px;
  z-index: 999;
  margin-left: -325px;
  visibility: hidden;
  opacity: 0;
  clear: both;
  float: right;
  padding: 0;
  width: 359px;
  background: #fff;
  margin-right: -21px;
  height: 44px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 22px;
  transition: all .3s ease-out .1s;
}
div .b-goods__good-more-price-ico:hover .soc_bloc {
  visibility: visible;
  opacity: 1;
  transition: all .3s ease-out .1s;
}
.b-goods__good-feedback {
  margin-top: 40px;
}
.b-goods__good-feedback-bubble {
  background: #fff7d6;
  /* padding: 15px 27px; */
  height: auto;
  font-size: 13px;
  line-height: 18px;
  border-radius: 4px;
  position: relative;
  margin-bottom: 24px;
}
.bubble_top {
  width: 100%;
  height: 15px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff7d6;
  border-top-right-radius: 4px;
  z-index: 1;
}
.b-goods__good-feedback-bubble>div {
  outline: 0 none;
  max-height: 286px;
  overflow: auto;
}
.b-goods__good-feedback-bubble .coment-block {
  padding: 15px 27px;
  padding-bottom: 35px;
}
.b-discount .b-accessories__slider-button-next {
  right: -16px;
}
.b-alsobuy{
  margin-top: 50px;
}
.b-alsobuy .b-accessories__slider-button-next {
  right: -24px;
}
.want-order-later, .order-created, .feedback-thank, .good-added {
  display: block;
  width: 730px;
}
.want-order-later h2, .order-created h2, .feedback-thank h2, .city-list h2, .order-status h2 {
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
}
.want-order-later p:first-of-type, .order-created p, .feedback-thank p {
  font-size: 13px;
  color: #000;
  margin-top: 26px;
  margin-bottom: 27px;
}
.order-created > span {
  color: #878787;
  font-size: 11px;
}
#feedback-create, #feedback-create-bt{
  width: 180px;
  box-sizing: border-box;
  text-align: center;
  font-weight: normal;
  padding: 0 20px;
  height: 31px;
  line-height: 31px;
}