.b-catalog-panel {
  padding: 2% 30px 2%;
  white-space: nowrap;
}

.b-main-menu {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 19.4%;
}

.b-main-menu:hover .b-dropdown {
  display: block;
}

.btn.b-main-menu__btn {
  padding: 11px 0px 10px 15px;
  display: block;
  position: relative;
  font-size: 15px;
  height: auto;
  line-height: 21px;
}

.btn.b-main-menu__btn:hover {
  background: #ff9000;
  color: #fff;
}

.b-main-menu__btn--ico {
  background: url(../img/icon.png) no-repeat;
  //margin: 2px 0 0 4px;
  float: right;
  right: 16px;
  top: 14px;
  position: absolute;
  width: 16px;
  height: 14px;
}

.b-main-menu__dropdown {
  position: absolute;
  display: none;
  top: 43px;
  left: 0;
}

.b-dropdown {
  list-style: none;
  padding: 20px 0;
  margin: 0;
  outline: none;
  width: 100%;
  z-index: 100;
  border: 1px solid #e6e6e6;
  background: #ffffff;
  font-size: 13px;
  border-radius: 3px 0 0 3px;
}

.b-dropdown.active {
  display: block;
}

.b-dropdown .b-dropright-catalog.active {
  display: block;
}

.b-dropdown__item {
  margin: 0 0 0 17px;
}

.b-dropdown__item:hover .b-dropright-catalog {
  display: block;
}

.b-dropright-catalog__list-items ul.g-left {
  padding: 33px 0;
}

.b-dropright-catalog-1 {
  width: 180%;
}

.b-dropright-catalog-2 {
  width: 180%;
}

.b-dropright-catalog-3 {
  width: 270%;
}

.b-dropright-catalog-4 {
  width: 360%;
}

.b-dropright-1 ul.g-left {
  width: 100%;
}

.b-dropright-2 ul.g-left {
  width: 50%;
}

.b-dropright-3 ul.g-left {
  width: 33.333333%;
}

.b-dropright-4 ul.g-left {
  width: 25%;
}

.b-dropright-1-of-2 {
  width: 50%;
}

.b-dropright-1-of-3 {
  width: 33.333333%
}

.b-dropright-1-of-4 {
  width: 25%;
}

.b-dropright-catalog {
  background: #fff;
  display: none;
  position: absolute;
  top: -1px;
  left: 100%;
  border: 1px solid #e6e6e6;
  white-space: normal;
  box-shadow: none;
  border-radius: 0 3px 3px 0;
  overflow: hidden;
}

.b-dropright-catalog__list-item {
  display: inline-block;
  vertical-align: top;
  width: 205px;
  margin-left: 33px;
  margin-bottom: 10px;
  position: relative;
}

.b-good-of-day {
  border-left: 1px solid #dbdbdb;
}

.b-good-of-day .ico-delivery2 {
  margin-right: 0;
}

.b-good-of-day__h4 {
  width: 120px;
  text-align: center;
  background: #ff9000;
  color: #fff;
  border-radius: 4px;
  margin-bottom: 12px;
}

.b-products__item-container > a {
  height: 190px;
  display: block;
  text-align: center;
  position: relative;
  margin-bottom: 8px;
}

.b-top-menu__item > li {
  float: none !important;
}

.header .header-wrapper .info-panel .menu li {
  float: left;
  padding: 0 3% 0 0;
  line-height: 40px;
}

.header .header-wrapper .info-panel .menu li a {
  font-size: 13px;
  color: #303030;
  font-family: 'Open Sans';
  border-bottom: 1px solid #dbdbdb;
}

.header .header-wrapper .info-panel .menu li a:hover {
  color: @main_color;
  border-bottom: 1px dotted @main_color;
}

.header .header-wrapper .info-panel .menu li span {
  display: none;
}

.header .header-wrapper .info-panel .menu li span:hover .menu li a {
  display: block;
}

.b-infolist {
  line-height: 40px;
}

.info-list .b-dropright-catalog {
  min-width: 255px;
}

.b-infolist .b-infolist__button {
  color: #fff;
  height: 18px;
  line-height: 18px;
  font-weight: normal;
  &:hover {
    color: #fff;
    background: #ff9000;
  }
}

.b-infolist .b-infolist__text {
  line-height: 20px;
  margin-top: 12px;
}

/* city choice */
.city-list {
  padding: 20px;
  max-width: 777px;
}

.city-list h2 {
  padding-top: 0;
}

.city-list input[name="city_name"] {
  height: 31px;
  width: 430px;
  line-height: 31px;
  padding-left: 36px;
  background: url(../img/zoom1.png) 10px center no-repeat;
  border: 1px solid #ddd;
  box-shadow: none;
  outline: none;
}

.city-list .btn {
  height: 32px;
  margin: 0;
  vertical-align: top;
  line-height: 31px;
  padding: 0 20px;
  margin-left: 20px;
}

.city-list .abc-holder {
  padding: 24px 0;
}

.city-list .abc-holder a {
  color: #526ea8;
  margin-right: 10px;
}

.city-list .divider {
  border-bottom: 1px solid #ddd;
  padding: 0 40px;
  margin-left: -40px;
  height: 1px;
  width: 100%;
  margin-bottom: 30px;
}

.city-list .preselected-city li {
  margin-left: 30px;
}

.city-list .preselected-city li:first-child {
  margin-left: 0;
}

.city-list .preselected-city li a {
  color: #000;
  font-size: 15px;
}

.city-list .abc-city-list {
  margin-top: 50px;
}

.city-list .abc-city-list li {
  margin-right: 14px;
}

/* city choice */
