.content-block.tabs ul li {
  display: inline-block;
  margin: 0 41px 0 0;
}

.content-block.tabs ul li a {
  color: #83b5de;
  border-bottom: 1px dotted #83b5de;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.content-block.tabs ul li a:hover {
  color: #303030;
}

.content-block.tabs ul li.active a {
  color: #303030;
  border-color: transparent;
  font-family: 'Open Sans';
  font-weight: 300;
  cursor:default;
}
.b-news{
  padding-bottom: 20px;
}
.b-news__item{
  width: 32%;
  margin-right: 2%;
}
.b-news__subscribe{
  width: 32%;
  margin-right: 0;
}
.b-news__item-int{
  padding-top: 20px;
  padding-left: 110px;
  background: url(../img/temp/temp1.jpg) left top no-repeat;
}
.b-news__link-allnews{
  color: #83b5de;
  border-bottom: 1px dotted #83b5de;
  font-family: 'Open Sans',Arial,Helvetica,sans-serif;
  font-size: 24px;
}
.b-news__item-link{
  color: #83b5de;
  &:hover{
    color: #83b5de;
  }
}
.b-news__item-text{
  max-height: 130px;
  overflow: hidden;
  font-size: 11px;
  font-weight: 300;
  line-height: 14px;
  color: #909090;
}
.b-news__subscribe-int{
  height: 160px;
  background: #ff9000;
  padding: 30px 34px 30px;
  color: #fff;
}
.b-news__subscribe-header{
  padding-left: 90px;
}
.b-news__subscribe-header h4{
  padding: 0;
  margin-bottom: 8px;
}
.b-news__subscribe-img{
  width: 57px;
  height: 57px;
  background: url(../img/temp/icons_wish.png) -2px -111px no-repeat;
}
.b-news__subscribe-form{
  margin-top: 22px;
}
.b-subscribe-form__mail{
  padding: 8px 13px;
  border: 1px solid #e5e5e5;
  background: #f7f7f7;
  line-height: 14px;
  height: auto;
  color: #202020;
}
.b-subscribe-form__submit{
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  height: 37px;
  padding: 0 13px;
}
.b-dropdown .b-dropright-catalog__list-item .ico.ico-angle-right{
  right: 24px;
}
/* feedbacks */
.b-top-panel__feedback-stars {
  position: relative;
  top: 2px;
  margin: 0 4px;
}
.b-top-panel__feedback-star {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 1px;
}
.b-top-panel__feedback-star:last-child {
  margin-right: 0;
}
.b-top-panel__feedback-star-gold {
  background: url(../img/goldstar.png );
}
.b-top-panel__feedback-star-gray {
  background: url(../img/graystar.png );
}
.b-top-panel__feedback-star-gold-big {
  background: url(../img/goldstar-24.png );
}
.b-top-panel__feedback-star-gray-big {
  background: url(../img/graystar-big.png );
}
/* feedbacks */