.b-overlay{
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba( 255, 255, 255, 0.4 );
  z-index: 99;
}
.b-popup{
  display: none;
  z-index: 100;
  position: fixed;
  left: 50%;
  top: 50%;
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 6px 1px rgba( 55, 55, 55, 0.3 );
}
.b-popup__h5{
  font-size: 18px;
  padding: 0 0 12px;
}
.b-popup__close{
  width: 12px;
  height: 12px;
  position: absolute;
  right: 28px;
  top: 28px;
  background: url( ../img/cross12.png ) center center no-repeat;
  cursor: pointer;
}
.b-popup__btn{
  display: inline-block;
  width: auto;
  height: auto;
  line-height: 37px;
  padding: 0 30px;
  margin: 0 auto;
  font-weight: normal;
  text-transform: uppercase;
}
.b-oneclick__box{
  padding-bottom: 12px;
}
.b-oneclick__box--first{
  margin-right: 20px;
}
.b-oneclick__box-label{
  padding-bottom: 6px;
  display: inline-block;
}
.b-popup__buttons{
  padding: 0;
  margin: 0;
  border: none;
}
.b-oneclick__btn{
  display: block;
  width: 62px;
}
.b-popup__input{
  width: 220px;
  height: 30px;
  line-height: 30px;
  padding-left: 8px;
  border-radius: 3px;
  box-shadow: none;
  outline: none;
  border: 1px solid #e6e6e6;
}
.ui-timepicker-hours tr td span, .ui-timepicker-minutes tr td span, .ui-timepicker-hours tr td a, .ui-timepicker-minutes tr td a{
  padding: 9px;
  display: block;
}