@ico-banktransfer-name: 'ico-banktransfer';
@ico-banktransfer-x: 88px;
@ico-banktransfer-y: 0px;
@ico-banktransfer-offset-x: -88px;
@ico-banktransfer-offset-y: 0px;
@ico-banktransfer-width: 88px;
@ico-banktransfer-height: 88px;
@ico-banktransfer-total-width: 528px;
@ico-banktransfer-total-height: 528px;
@ico-banktransfer-image: '/local/templates/main_v2/img/sprite/sprite.png';
@ico-banktransfer: 88px 0px -88px 0px 88px 88px 528px 528px '/local/templates/main_v2/img/sprite/sprite.png' 'ico-banktransfer';
@ico-banktransfer2-name: 'ico-banktransfer2';
@ico-banktransfer2-x: 352px;
@ico-banktransfer2-y: 0px;
@ico-banktransfer2-offset-x: -352px;
@ico-banktransfer2-offset-y: 0px;
@ico-banktransfer2-width: 88px;
@ico-banktransfer2-height: 88px;
@ico-banktransfer2-total-width: 528px;
@ico-banktransfer2-total-height: 528px;
@ico-banktransfer2-image: '/local/templates/main_v2/img/sprite/sprite.png';
@ico-banktransfer2: 352px 0px -352px 0px 88px 88px 528px 528px '/local/templates/main_v2/img/sprite/sprite.png' 'ico-banktransfer2';
@ico-calendar-name: 'ico-calendar';
@ico-calendar-x: 0px;
@ico-calendar-y: 88px;
@ico-calendar-offset-x: 0px;
@ico-calendar-offset-y: -88px;
@ico-calendar-width: 88px;
@ico-calendar-height: 88px;
@ico-calendar-total-width: 528px;
@ico-calendar-total-height: 528px;
@ico-calendar-image: '/local/templates/main_v2/img/sprite/sprite.png';
@ico-calendar: 0px 88px 0px -88px 88px 88px 528px 528px '/local/templates/main_v2/img/sprite/sprite.png' 'ico-calendar';
@ico-callcenter-name: 'ico-callcenter';
@ico-callcenter-x: 88px;
@ico-callcenter-y: 88px;
@ico-callcenter-offset-x: -88px;
@ico-callcenter-offset-y: -88px;
@ico-callcenter-width: 88px;
@ico-callcenter-height: 88px;
@ico-callcenter-total-width: 528px;
@ico-callcenter-total-height: 528px;
@ico-callcenter-image: '/local/templates/main_v2/img/sprite/sprite.png';
@ico-callcenter: 88px 88px -88px -88px 88px 88px 528px 528px '/local/templates/main_v2/img/sprite/sprite.png' 'ico-callcenter';
@ico-card-name: 'ico-card';
@ico-card-x: 176px;
@ico-card-y: 0px;
@ico-card-offset-x: -176px;
@ico-card-offset-y: 0px;
@ico-card-width: 88px;
@ico-card-height: 88px;
@ico-card-total-width: 528px;
@ico-card-total-height: 528px;
@ico-card-image: '/local/templates/main_v2/img/sprite/sprite.png';
@ico-card: 176px 0px -176px 0px 88px 88px 528px 528px '/local/templates/main_v2/img/sprite/sprite.png' 'ico-card';
@ico-cash-name: 'ico-cash';
@ico-cash-x: 176px;
@ico-cash-y: 88px;
@ico-cash-offset-x: -176px;
@ico-cash-offset-y: -88px;
@ico-cash-width: 88px;
@ico-cash-height: 88px;
@ico-cash-total-width: 528px;
@ico-cash-total-height: 528px;
@ico-cash-image: '/local/templates/main_v2/img/sprite/sprite.png';
@ico-cash: 176px 88px -176px -88px 88px 88px 528px 528px '/local/templates/main_v2/img/sprite/sprite.png' 'ico-cash';
@ico-cellphone-name: 'ico-cellphone';
@ico-cellphone-x: 0px;
@ico-cellphone-y: 176px;
@ico-cellphone-offset-x: 0px;
@ico-cellphone-offset-y: -176px;
@ico-cellphone-width: 88px;
@ico-cellphone-height: 88px;
@ico-cellphone-total-width: 528px;
@ico-cellphone-total-height: 528px;
@ico-cellphone-image: '/local/templates/main_v2/img/sprite/sprite.png';
@ico-cellphone: 0px 176px 0px -176px 88px 88px 528px 528px '/local/templates/main_v2/img/sprite/sprite.png' 'ico-cellphone';
@ico-check-name: 'ico-check';
@ico-check-x: 88px;
@ico-check-y: 176px;
@ico-check-offset-x: -88px;
@ico-check-offset-y: -176px;
@ico-check-width: 88px;
@ico-check-height: 88px;
@ico-check-total-width: 528px;
@ico-check-total-height: 528px;
@ico-check-image: '/local/templates/main_v2/img/sprite/sprite.png';
@ico-check: 88px 176px -88px -176px 88px 88px 528px 528px '/local/templates/main_v2/img/sprite/sprite.png' 'ico-check';
@ico-clock-name: 'ico-clock';
@ico-clock-x: 176px;
@ico-clock-y: 176px;
@ico-clock-offset-x: -176px;
@ico-clock-offset-y: -176px;
@ico-clock-width: 88px;
@ico-clock-height: 88px;
@ico-clock-total-width: 528px;
@ico-clock-total-height: 528px;
@ico-clock-image: '/local/templates/main_v2/img/sprite/sprite.png';
@ico-clock: 176px 176px -176px -176px 88px 88px 528px 528px '/local/templates/main_v2/img/sprite/sprite.png' 'ico-clock';
@ico-courier-name: 'ico-courier';
@ico-courier-x: 264px;
@ico-courier-y: 0px;
@ico-courier-offset-x: -264px;
@ico-courier-offset-y: 0px;
@ico-courier-width: 88px;
@ico-courier-height: 88px;
@ico-courier-total-width: 528px;
@ico-courier-total-height: 528px;
@ico-courier-image: '/local/templates/main_v2/img/sprite/sprite.png';
@ico-courier: 264px 0px -264px 0px 88px 88px 528px 528px '/local/templates/main_v2/img/sprite/sprite.png' 'ico-courier';
@ico-couriers-name: 'ico-couriers';
@ico-couriers-x: 264px;
@ico-couriers-y: 88px;
@ico-couriers-offset-x: -264px;
@ico-couriers-offset-y: -88px;
@ico-couriers-width: 88px;
@ico-couriers-height: 88px;
@ico-couriers-total-width: 528px;
@ico-couriers-total-height: 528px;
@ico-couriers-image: '/local/templates/main_v2/img/sprite/sprite.png';
@ico-couriers: 264px 88px -264px -88px 88px 88px 528px 528px '/local/templates/main_v2/img/sprite/sprite.png' 'ico-couriers';
@ico-defect-name: 'ico-defect';
@ico-defect-x: 264px;
@ico-defect-y: 176px;
@ico-defect-offset-x: -264px;
@ico-defect-offset-y: -176px;
@ico-defect-width: 88px;
@ico-defect-height: 88px;
@ico-defect-total-width: 528px;
@ico-defect-total-height: 528px;
@ico-defect-image: '/local/templates/main_v2/img/sprite/sprite.png';
@ico-defect: 264px 176px -264px -176px 88px 88px 528px 528px '/local/templates/main_v2/img/sprite/sprite.png' 'ico-defect';
@ico-devadress-name: 'ico-devadress';
@ico-devadress-x: 0px;
@ico-devadress-y: 264px;
@ico-devadress-offset-x: 0px;
@ico-devadress-offset-y: -264px;
@ico-devadress-width: 88px;
@ico-devadress-height: 88px;
@ico-devadress-total-width: 528px;
@ico-devadress-total-height: 528px;
@ico-devadress-image: '/local/templates/main_v2/img/sprite/sprite.png';
@ico-devadress: 0px 264px 0px -264px 88px 88px 528px 528px '/local/templates/main_v2/img/sprite/sprite.png' 'ico-devadress';
@ico-devpoint-name: 'ico-devpoint';
@ico-devpoint-x: 88px;
@ico-devpoint-y: 264px;
@ico-devpoint-offset-x: -88px;
@ico-devpoint-offset-y: -264px;
@ico-devpoint-width: 88px;
@ico-devpoint-height: 88px;
@ico-devpoint-total-width: 528px;
@ico-devpoint-total-height: 528px;
@ico-devpoint-image: '/local/templates/main_v2/img/sprite/sprite.png';
@ico-devpoint: 88px 264px -88px -264px 88px 88px 528px 528px '/local/templates/main_v2/img/sprite/sprite.png' 'ico-devpoint';
@ico-devtype-name: 'ico-devtype';
@ico-devtype-x: 176px;
@ico-devtype-y: 264px;
@ico-devtype-offset-x: -176px;
@ico-devtype-offset-y: -264px;
@ico-devtype-width: 88px;
@ico-devtype-height: 88px;
@ico-devtype-total-width: 528px;
@ico-devtype-total-height: 528px;
@ico-devtype-image: '/local/templates/main_v2/img/sprite/sprite.png';
@ico-devtype: 176px 264px -176px -264px 88px 88px 528px 528px '/local/templates/main_v2/img/sprite/sprite.png' 'ico-devtype';
@ico-emoney-name: 'ico-emoney';
@ico-emoney-x: 264px;
@ico-emoney-y: 264px;
@ico-emoney-offset-x: -264px;
@ico-emoney-offset-y: -264px;
@ico-emoney-width: 88px;
@ico-emoney-height: 88px;
@ico-emoney-total-width: 528px;
@ico-emoney-total-height: 528px;
@ico-emoney-image: '/local/templates/main_v2/img/sprite/sprite.png';
@ico-emoney: 264px 264px -264px -264px 88px 88px 528px 528px '/local/templates/main_v2/img/sprite/sprite.png' 'ico-emoney';
@ico-feedback-name: 'ico-feedback';
@ico-feedback-x: 0px;
@ico-feedback-y: 0px;
@ico-feedback-offset-x: 0px;
@ico-feedback-offset-y: 0px;
@ico-feedback-width: 88px;
@ico-feedback-height: 88px;
@ico-feedback-total-width: 528px;
@ico-feedback-total-height: 528px;
@ico-feedback-image: '/local/templates/main_v2/img/sprite/sprite.png';
@ico-feedback: 0px 0px 0px 0px 88px 88px 528px 528px '/local/templates/main_v2/img/sprite/sprite.png' 'ico-feedback';
@ico-mappoint-name: 'ico-mappoint';
@ico-mappoint-x: 352px;
@ico-mappoint-y: 88px;
@ico-mappoint-offset-x: -352px;
@ico-mappoint-offset-y: -88px;
@ico-mappoint-width: 88px;
@ico-mappoint-height: 88px;
@ico-mappoint-total-width: 528px;
@ico-mappoint-total-height: 528px;
@ico-mappoint-image: '/local/templates/main_v2/img/sprite/sprite.png';
@ico-mappoint: 352px 88px -352px -88px 88px 88px 528px 528px '/local/templates/main_v2/img/sprite/sprite.png' 'ico-mappoint';
@ico-online-name: 'ico-online';
@ico-online-x: 352px;
@ico-online-y: 176px;
@ico-online-offset-x: -352px;
@ico-online-offset-y: -176px;
@ico-online-width: 88px;
@ico-online-height: 88px;
@ico-online-total-width: 528px;
@ico-online-total-height: 528px;
@ico-online-image: '/local/templates/main_v2/img/sprite/sprite.png';
@ico-online: 352px 176px -352px -176px 88px 88px 528px 528px '/local/templates/main_v2/img/sprite/sprite.png' 'ico-online';
@ico-perfect-name: 'ico-perfect';
@ico-perfect-x: 352px;
@ico-perfect-y: 264px;
@ico-perfect-offset-x: -352px;
@ico-perfect-offset-y: -264px;
@ico-perfect-width: 88px;
@ico-perfect-height: 88px;
@ico-perfect-total-width: 528px;
@ico-perfect-total-height: 528px;
@ico-perfect-image: '/local/templates/main_v2/img/sprite/sprite.png';
@ico-perfect: 352px 264px -352px -264px 88px 88px 528px 528px '/local/templates/main_v2/img/sprite/sprite.png' 'ico-perfect';
@ico-phonebalance-name: 'ico-phonebalance';
@ico-phonebalance-x: 0px;
@ico-phonebalance-y: 352px;
@ico-phonebalance-offset-x: 0px;
@ico-phonebalance-offset-y: -352px;
@ico-phonebalance-width: 88px;
@ico-phonebalance-height: 88px;
@ico-phonebalance-total-width: 528px;
@ico-phonebalance-total-height: 528px;
@ico-phonebalance-image: '/local/templates/main_v2/img/sprite/sprite.png';
@ico-phonebalance: 0px 352px 0px -352px 88px 88px 528px 528px '/local/templates/main_v2/img/sprite/sprite.png' 'ico-phonebalance';
@ico-point-name: 'ico-point';
@ico-point-x: 88px;
@ico-point-y: 352px;
@ico-point-offset-x: -88px;
@ico-point-offset-y: -352px;
@ico-point-width: 88px;
@ico-point-height: 88px;
@ico-point-total-width: 528px;
@ico-point-total-height: 528px;
@ico-point-image: '/local/templates/main_v2/img/sprite/sprite.png';
@ico-point: 88px 352px -88px -352px 88px 88px 528px 528px '/local/templates/main_v2/img/sprite/sprite.png' 'ico-point';
@ico-postamat-name: 'ico-postamat';
@ico-postamat-x: 176px;
@ico-postamat-y: 352px;
@ico-postamat-offset-x: -176px;
@ico-postamat-offset-y: -352px;
@ico-postamat-width: 88px;
@ico-postamat-height: 88px;
@ico-postamat-total-width: 528px;
@ico-postamat-total-height: 528px;
@ico-postamat-image: '/local/templates/main_v2/img/sprite/sprite.png';
@ico-postamat: 176px 352px -176px -352px 88px 88px 528px 528px '/local/templates/main_v2/img/sprite/sprite.png' 'ico-postamat';
@ico-quality-name: 'ico-quality';
@ico-quality-x: 264px;
@ico-quality-y: 352px;
@ico-quality-offset-x: -264px;
@ico-quality-offset-y: -352px;
@ico-quality-width: 88px;
@ico-quality-height: 88px;
@ico-quality-total-width: 528px;
@ico-quality-total-height: 528px;
@ico-quality-image: '/local/templates/main_v2/img/sprite/sprite.png';
@ico-quality: 264px 352px -264px -352px 88px 88px 528px 528px '/local/templates/main_v2/img/sprite/sprite.png' 'ico-quality';
@ico-return-name: 'ico-return';
@ico-return-x: 352px;
@ico-return-y: 352px;
@ico-return-offset-x: -352px;
@ico-return-offset-y: -352px;
@ico-return-width: 88px;
@ico-return-height: 88px;
@ico-return-total-width: 528px;
@ico-return-total-height: 528px;
@ico-return-image: '/local/templates/main_v2/img/sprite/sprite.png';
@ico-return: 352px 352px -352px -352px 88px 88px 528px 528px '/local/templates/main_v2/img/sprite/sprite.png' 'ico-return';
@ico-rst-name: 'ico-rst';
@ico-rst-x: 440px;
@ico-rst-y: 0px;
@ico-rst-offset-x: -440px;
@ico-rst-offset-y: 0px;
@ico-rst-width: 88px;
@ico-rst-height: 88px;
@ico-rst-total-width: 528px;
@ico-rst-total-height: 528px;
@ico-rst-image: '/local/templates/main_v2/img/sprite/sprite.png';
@ico-rst: 440px 0px -440px 0px 88px 88px 528px 528px '/local/templates/main_v2/img/sprite/sprite.png' 'ico-rst';
@ico-shop-name: 'ico-shop';
@ico-shop-x: 440px;
@ico-shop-y: 88px;
@ico-shop-offset-x: -440px;
@ico-shop-offset-y: -88px;
@ico-shop-width: 88px;
@ico-shop-height: 88px;
@ico-shop-total-width: 528px;
@ico-shop-total-height: 528px;
@ico-shop-image: '/local/templates/main_v2/img/sprite/sprite.png';
@ico-shop: 440px 88px -440px -88px 88px 88px 528px 528px '/local/templates/main_v2/img/sprite/sprite.png' 'ico-shop';
@ico-star-name: 'ico-star';
@ico-star-x: 440px;
@ico-star-y: 176px;
@ico-star-offset-x: -440px;
@ico-star-offset-y: -176px;
@ico-star-width: 88px;
@ico-star-height: 88px;
@ico-star-total-width: 528px;
@ico-star-total-height: 528px;
@ico-star-image: '/local/templates/main_v2/img/sprite/sprite.png';
@ico-star: 440px 176px -440px -176px 88px 88px 528px 528px '/local/templates/main_v2/img/sprite/sprite.png' 'ico-star';
@ico-terminal-name: 'ico-terminal';
@ico-terminal-x: 440px;
@ico-terminal-y: 264px;
@ico-terminal-offset-x: -440px;
@ico-terminal-offset-y: -264px;
@ico-terminal-width: 88px;
@ico-terminal-height: 88px;
@ico-terminal-total-width: 528px;
@ico-terminal-total-height: 528px;
@ico-terminal-image: '/local/templates/main_v2/img/sprite/sprite.png';
@ico-terminal: 440px 264px -440px -264px 88px 88px 528px 528px '/local/templates/main_v2/img/sprite/sprite.png' 'ico-terminal';
@ico-truck-name: 'ico-truck';
@ico-truck-x: 440px;
@ico-truck-y: 352px;
@ico-truck-offset-x: -440px;
@ico-truck-offset-y: -352px;
@ico-truck-width: 88px;
@ico-truck-height: 88px;
@ico-truck-total-width: 528px;
@ico-truck-total-height: 528px;
@ico-truck-image: '/local/templates/main_v2/img/sprite/sprite.png';
@ico-truck: 440px 352px -440px -352px 88px 88px 528px 528px '/local/templates/main_v2/img/sprite/sprite.png' 'ico-truck';
@ico-warranty-name: 'ico-warranty';
@ico-warranty-x: 0px;
@ico-warranty-y: 440px;
@ico-warranty-offset-x: 0px;
@ico-warranty-offset-y: -440px;
@ico-warranty-width: 88px;
@ico-warranty-height: 88px;
@ico-warranty-total-width: 528px;
@ico-warranty-total-height: 528px;
@ico-warranty-image: '/local/templates/main_v2/img/sprite/sprite.png';
@ico-warranty: 0px 440px 0px -440px 88px 88px 528px 528px '/local/templates/main_v2/img/sprite/sprite.png' 'ico-warranty';
@ico-warranty2-name: 'ico-warranty2';
@ico-warranty2-x: 88px;
@ico-warranty2-y: 440px;
@ico-warranty2-offset-x: -88px;
@ico-warranty2-offset-y: -440px;
@ico-warranty2-width: 88px;
@ico-warranty2-height: 88px;
@ico-warranty2-total-width: 528px;
@ico-warranty2-total-height: 528px;
@ico-warranty2-image: '/local/templates/main_v2/img/sprite/sprite.png';
@ico-warranty2: 88px 440px -88px -440px 88px 88px 528px 528px '/local/templates/main_v2/img/sprite/sprite.png' 'ico-warranty2';
@ico-yandex-name: 'ico-yandex';
@ico-yandex-x: 176px;
@ico-yandex-y: 440px;
@ico-yandex-offset-x: -176px;
@ico-yandex-offset-y: -440px;
@ico-yandex-width: 88px;
@ico-yandex-height: 88px;
@ico-yandex-total-width: 528px;
@ico-yandex-total-height: 528px;
@ico-yandex-image: '/local/templates/main_v2/img/sprite/sprite.png';
@ico-yandex: 176px 440px -176px -440px 88px 88px 528px 528px '/local/templates/main_v2/img/sprite/sprite.png' 'ico-yandex';
@spritesheet-width: 528px;
@spritesheet-height: 528px;
@spritesheet-image: '/local/templates/main_v2/img/sprite/sprite.png';
@spritesheet-sprites: @ico-banktransfer @ico-banktransfer2 @ico-calendar @ico-callcenter @ico-card @ico-cash @ico-cellphone @ico-check @ico-clock @ico-courier @ico-couriers @ico-defect @ico-devadress @ico-devpoint @ico-devtype @ico-emoney @ico-feedback @ico-mappoint @ico-online @ico-perfect @ico-phonebalance @ico-point @ico-postamat @ico-quality @ico-return @ico-rst @ico-shop @ico-star @ico-terminal @ico-truck @ico-warranty @ico-warranty2 @ico-yandex;
@spritesheet: 528px 528px '/local/templates/main_v2/img/sprite/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
