/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-ico-banktransfer {
  background-image: url(/local/templates/main_v2/img/sprite/sprite.png);
  background-position: -88px 0px;
  width: 88px;
  height: 88px;
}
.icon-ico-banktransfer2 {
  background-image: url(/local/templates/main_v2/img/sprite/sprite.png);
  background-position: -352px 0px;
  width: 88px;
  height: 88px;
}
.icon-ico-calendar {
  background-image: url(/local/templates/main_v2/img/sprite/sprite.png);
  background-position: 0px -88px;
  width: 88px;
  height: 88px;
}
.icon-ico-callcenter {
  background-image: url(/local/templates/main_v2/img/sprite/sprite.png);
  background-position: -88px -88px;
  width: 88px;
  height: 88px;
}
.icon-ico-card {
  background-image: url(/local/templates/main_v2/img/sprite/sprite.png);
  background-position: -176px 0px;
  width: 88px;
  height: 88px;
}
.icon-ico-cash {
  background-image: url(/local/templates/main_v2/img/sprite/sprite.png);
  background-position: -176px -88px;
  width: 88px;
  height: 88px;
}
.icon-ico-cellphone {
  background-image: url(/local/templates/main_v2/img/sprite/sprite.png);
  background-position: 0px -176px;
  width: 88px;
  height: 88px;
}
.icon-ico-check {
  background-image: url(/local/templates/main_v2/img/sprite/sprite.png);
  background-position: -88px -176px;
  width: 88px;
  height: 88px;
}
.icon-ico-clock {
  background-image: url(/local/templates/main_v2/img/sprite/sprite.png);
  background-position: -176px -176px;
  width: 88px;
  height: 88px;
}
.icon-ico-courier {
  background-image: url(/local/templates/main_v2/img/sprite/sprite.png);
  background-position: -264px 0px;
  width: 88px;
  height: 88px;
}
.icon-ico-couriers {
  background-image: url(/local/templates/main_v2/img/sprite/sprite.png);
  background-position: -264px -88px;
  width: 88px;
  height: 88px;
}
.icon-ico-defect {
  background-image: url(/local/templates/main_v2/img/sprite/sprite.png);
  background-position: -264px -176px;
  width: 88px;
  height: 88px;
}
.icon-ico-devadress {
  background-image: url(/local/templates/main_v2/img/sprite/sprite.png);
  background-position: 0px -264px;
  width: 88px;
  height: 88px;
}
.icon-ico-devpoint {
  background-image: url(/local/templates/main_v2/img/sprite/sprite.png);
  background-position: -88px -264px;
  width: 88px;
  height: 88px;
}
.icon-ico-devtype {
  background-image: url(/local/templates/main_v2/img/sprite/sprite.png);
  background-position: -176px -264px;
  width: 88px;
  height: 88px;
}
.icon-ico-emoney {
  background-image: url(/local/templates/main_v2/img/sprite/sprite.png);
  background-position: -264px -264px;
  width: 88px;
  height: 88px;
}
.icon-ico-feedback {
  background-image: url(/local/templates/main_v2/img/sprite/sprite.png);
  background-position: 0px 0px;
  width: 88px;
  height: 88px;
}
.icon-ico-mappoint {
  background-image: url(/local/templates/main_v2/img/sprite/sprite.png);
  background-position: -352px -88px;
  width: 88px;
  height: 88px;
}
.icon-ico-online {
  background-image: url(/local/templates/main_v2/img/sprite/sprite.png);
  background-position: -352px -176px;
  width: 88px;
  height: 88px;
}
.icon-ico-perfect {
  background-image: url(/local/templates/main_v2/img/sprite/sprite.png);
  background-position: -352px -264px;
  width: 88px;
  height: 88px;
}
.icon-ico-phonebalance {
  background-image: url(/local/templates/main_v2/img/sprite/sprite.png);
  background-position: 0px -352px;
  width: 88px;
  height: 88px;
}
.icon-ico-point {
  background-image: url(/local/templates/main_v2/img/sprite/sprite.png);
  background-position: -88px -352px;
  width: 88px;
  height: 88px;
}
.icon-ico-postamat {
  background-image: url(/local/templates/main_v2/img/sprite/sprite.png);
  background-position: -176px -352px;
  width: 88px;
  height: 88px;
}
.icon-ico-quality {
  background-image: url(/local/templates/main_v2/img/sprite/sprite.png);
  background-position: -264px -352px;
  width: 88px;
  height: 88px;
}
.icon-ico-return {
  background-image: url(/local/templates/main_v2/img/sprite/sprite.png);
  background-position: -352px -352px;
  width: 88px;
  height: 88px;
}
.icon-ico-rst {
  background-image: url(/local/templates/main_v2/img/sprite/sprite.png);
  background-position: -440px 0px;
  width: 88px;
  height: 88px;
}
.icon-ico-shop {
  background-image: url(/local/templates/main_v2/img/sprite/sprite.png);
  background-position: -440px -88px;
  width: 88px;
  height: 88px;
}
.icon-ico-star {
  background-image: url(/local/templates/main_v2/img/sprite/sprite.png);
  background-position: -440px -176px;
  width: 88px;
  height: 88px;
}
.icon-ico-terminal {
  background-image: url(/local/templates/main_v2/img/sprite/sprite.png);
  background-position: -440px -264px;
  width: 88px;
  height: 88px;
}
.icon-ico-truck {
  background-image: url(/local/templates/main_v2/img/sprite/sprite.png);
  background-position: -440px -352px;
  width: 88px;
  height: 88px;
}
.icon-ico-warranty {
  background-image: url(/local/templates/main_v2/img/sprite/sprite.png);
  background-position: 0px -440px;
  width: 88px;
  height: 88px;
}
.icon-ico-warranty2 {
  background-image: url(/local/templates/main_v2/img/sprite/sprite.png);
  background-position: -88px -440px;
  width: 88px;
  height: 88px;
}
.icon-ico-yandex {
  background-image: url(/local/templates/main_v2/img/sprite/sprite.png);
  background-position: -176px -440px;
  width: 88px;
  height: 88px;
}
