.b-content__infopage {
  padding-left: 260px;
  position: relative;
}

.content .content-wrapper .content-block:not(.tabs) {
  margin: 0 30px;
}

.b-content__delivery, .b-content__payway {
  margin-top: 50px;
}

.b-content__leftmenu {
  position: absolute;
  left: 0;
  top: 0;
  width: 230px;
}

.b-content__leftmenu-uplevel {
  border: 1px solid #ddd;
}

.b-content__leftmenu-uplevel--item {
  height: 46px;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  display: block;
  cursor: pointer;
}

.b-content__leftmenu-uplevel--item h4 {
  background: url(../img/service-check.png) 7% center no-repeat;
  height: 46px;
  line-height: 46px;
  text-transform: none;
  padding: 0 0 0 32px;
  font-size: 16px;
}

.b-content__leftmenu-downlevel--item {
  padding-left: 32px;
  border-top: 1px solid #ddd;
  background: #fff;
}

.b-content__leftmenu-downlevel--item a {
  font-size: 13px;
  color: #878787;
  line-height: 35px;
}

.b-content__leftmenu-uplevel--item.opened {
  height: auto;
  background: #fafafa;
}

.b-content__tablinks a {
  color: #666699;
  margin-right: 16px;
  height: 39px;
  line-height: 39px;
  display: inline-block;
  padding: 0 12px;
  border: 1px solid transparent;
  font-size: 21px;
}

.b-content__tablinks a span {
  border-bottom: 1px dashed #666699;
}

.b-content__tablinks a.b-content__currenttab {
  color: #000;
  background: #e5f0ff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.b-delivery-wrapper > p {
  margin-top: 30px;
  line-height: 20px;
  font-size: 15px;
}

.b-delivery {
  margin-top: 60px;
}

.b-delivery:first-child, .b-delivery:first-of-type {
  margin-top: 0;
}

.b-delivery:last-child {
  margin-bottom: 70px;
}

.b-delivery__header {
  font-size: 30px;
  padding: 30px 0;
}

.b-delivery-easy {
  background: #fafafa;
  border: 1px solid #ddd;
}

.b-delivery-easy__item {
  width: 20%;
  padding-right: 2%;
  text-align: left;
  float: left;
  box-sizing: border-box;
}

.b-delivery-easy__item:first-child {
  width: 22%;
}

.b-delivery-easy__item:last-child {
  padding-right: 0;
  width: 18%;
}

.b-delivery-easy__item-div {
  padding-right: 33px;
  padding-top: 20px;
  height: 191px;
  background: url(../img/static/delivery-easy.png) right top no-repeat;
}

.b-delivery-easy__item:first-child div {
  padding-left: 30px;
}

.b-delivery-easy__item:last-child div {
  background: none;
}

.b-delivery-easy__item p {
  font-size: 13px;
  line-height: 18px;
  color: #000;
  margin-bottom: 24px;
  min-width: 160px;
}

.b-delivery-easy__item span {
  text-align: center;
  display: block;
}

.b-delivery-payway {
  border: 1px solid #ddd;
  border-radius: 2px;
  background: #fff;
  padding: 24px 48px;
}

.pb30 {
  padding-bottom: 30px;
}

.b-delivery-payway__item {
  float: left;
  width: 33%;
}

.b-delivery-payway__item img {
  float: left;
  margin-right: 16px;
}

.b-delivery-payway__item p {
  font-weight: bold;
  padding-top: 12px;
}

.b-delivery-faq__item {
  height: 20px;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 20px;
}

.b-delivery-faq__item h3 {
  font-size: 16px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-left: 20px;
  color: #666699;
  display: inline-block;
  background: url(../img/service-check.png) left center no-repeat;
}

.b-delivery-faq__item h3 span {
  border-bottom: 1px dashed #666699;
}

.b-delivery-faq__item.active {
  height: auto;
}

.b-delivery-faq__item.active h3 {
  background: url(../img/service-check-open.png) left center no-repeat;
  color: #000;
}

.b-delivery-faq__item.active h3 span {
  border: none;
}

.b-delivery-faq__item p {
  color: #878787;
  padding-left: 20px;
  margin-bottom: 12px;
}

/* payway */

.b-payway {
  margin-bottom: 70px;
}

.b-payway p {
  margin-top: 20px;
  margin-bottom: 30px;
  line-height: 24px;
  font-size: 15px;
  padding-left: 10px;
}

.b-payway__items {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  margin-top: 30px;
}

.b-payway__item {
  border-bottom: 1px solid #e6e6e6;
}

.b-payway__item:last-child {
  border-bottom: none;
}

.b-payway__item p {
  margin-top: 0;
  padding-left: 0;
  line-height: 24px;
}

.b-payway__img {
  padding-top: 20px;
  padding-left: 3%;
}

.b-payway__img img {
  display: block;
  margin: 0 auto;
}

.b-payway__info {
  line-height: 24px;
  margin-right: 5%;
  margin-bottom: 45px;
  width: 80%;
}

.b-payway__info-header {
  font-size: 23px;
  padding-top: 30px;
}

.b-payway__info-header--link {
  font-size: 11px;
  color: #878787;
  border-bottom: 1px dotted #878787;
  margin-left: 16px;
}

.b-paysys__item {
  display: inline-block;
  font-size: 11px;
  line-height: 20px;
  margin-bottom: 14px;
  margin-right: 16px;
}

.b-paysys__item img {
  position: relative;
  top: 6px;
  margin-right: 6px;
}

.b-payway__comission {
  margin-bottom: 14px;
  color: #878787;
}

.b-payway__comission span {
  color: #000;
  font-weight: bold;
}

/* payway */